.container {
  max-width: 640px;
  margin: 0 auto;
}
.logo-wrapper {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.email-password {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-system{
  position: relative;
}
.input-system label{
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}
.input-system input{
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background: #f3f4f6;
  font-size: 16px;
  color: #1f2937;
  border: 0;
  padding:25px;
}
input:focus {
  outline: 1px solid #3692ff;
}
button{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.password-button{
  position: absolute;
  right: 24px;
  bottom:15px;
}
.login_submit {
  width: 100%;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  background: #9ca3af;
  color: #fff;
  font-size: 20px;
  margin-bottom:20px;
}
.simple-login {
  background: #e6f2ff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  padding: 16px 24px;
  margin-bottom: 20px;
}
.simple-login-text {
  font-size: 16px;
  color: #1f2937;
  font-weight: 600;
}
.icon {
  display: flex;
  column-gap: 16px;
}
.description {
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 4px;
  font-weight: 600;
}
.member {
  color: #3182f6;
  font-size: 15px;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  
}

/* 태블릿 화면에 대한 스타일 */
@media (min-width: 768px) and (max-width: 1199px) {

}

/* 모바일 화면에 대한 스타일 */
@media (min-width: 375px) and (max-width: 767px) {
  .container{
    max-width:400px ;
    padding: 0 16px;
    width:100%;
  }
}
