* {
	box-sizing: border-box;
}

:root {
  --white-sky-color: #CFE5FF;
  --light-sky-color: #E6F2FF;
  --blue-color: #3692FF;
  --light-blue-color: #3692FF;
  --normal-blue-color: #1967D6;
  --dark-blue-color: #1251AA;  
  --gray900-color: #111827;
  --gray800-color: #1F2937;
  --gray700-color: #374151;
  --gray600-color: #4B5563; 
  --gray500-color: #6B7280; 
  --gray400-color: #9CA3AF;
  --gray200-color: #E5E7EB;
  --gray100-color: #F3F4F6;
  --gray50-color: #F9FAFB;
  --white-color: #FFFFFF;
}


