@media (min-width: 375px) and (max-width: 767px) {
  #login-img.media {
    width: 19.8rem;
    height: 6.6rem;
    margin: 24px 0;
  }
  .input-value-title.media {
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
  .container-login.media {
    width: 100%;
  }
  main {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-input.media {
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 0 1.6rem;
}
#login-img {
  width: 39.6rem;
  height: 13.2rem;
  margin-top: 60px;
  margin-bottom: 40px;
}

.input-value-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.148rem;
  color: var(--color-coolgray-800);
  margin-bottom: 1.6rem;
}

.login-input {
  background-color: var(--color-coolgray-100);
  width: 64rem;
  height: 5.6rem;
  border: 0;
  border-radius: 12px;
  color: var(--color-coolgray-800);
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  padding: 16px 24px;
}

.login-input-error,
.login-input::placeholder {
  color: var(--color-coolgray-400);
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.login-input:focus-visible {
  outline: 4px solid var(--color-brand-blue);
}

.login-input-error{
  outline: 4px solid var(--color-error-red);
}

.container-login {
  display: flex;
  flex-direction: column;

  margin-bottom: 2.4rem;
}

.password-button-handler {
  position: relative;
}

#ic_visibilityoff {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  right: 2.4rem;
  top: 1.6rem;
}

.login-button-active,
.login-button {
  width: 100%;
  height: 5.6rem;
  border: 0;
  border-radius: 40px;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2.4rem;
}

.login-button {
  background-color: var(--color-coolgray-400);
}

.login-button-active {
  background-color: var(--color-brand-blue);
}

.login-button-active:hover {
  background-color: var(--color-coolgray-600);
}

.login-button-active:active {
  background-color: var(--color-coolgray-800);
}


.container-easylogin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.4rem;
  background-color: var(--color-easylogin-skyblue);
  border-radius: 8px;
  margin-bottom: 2.4rem;
}

.container-easylogin > p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

#ic_google,
#ic_kakaotalk {
  width: 4.2rem;
  height: 4.2rem;
}

#ic_kakaotalk {
  margin-left: 1.6rem;
}

.footer-info,
#sighup-link {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.79rem;
}

.footer-info {
  color: var(--color-coolgray-800);
}

#sighup-link {
  color: var(--color-brand-blue);
}

.error {
  margin-top: 8px;
  margin-left: 16px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-error-red);
}