body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 50px;
}

form {
  margin: 16px auto;
}

label {
  color: #2c2c2c;
  display: block;
  margin: 16px 0 8px;
  font-weight: bold;
}

input {
  background: var(--gray100-color);
  border: none;
  border-radius: 10px;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0;
  padding: 16px 24px;
  width: 100%;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.visibility-icon {
  position: absolute;
  right: 20px;
}

input:focus {
  outline: 1px solid var(--blue-color);
}

input::placeholder {
  color: var(--gray400-color);
}

button {
  background: var(--blue-color);
  border: none;
  border-radius: 99999px;
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0;
  padding: 16px;
  width: 100%;
}

.sns-login {
  background-color: var(--light-sky-color);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-bottom: 16px;
}

.guide-signup {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* Mobile */
@media (min-width: 375px) {

  main {
    width: 100%;
    padding: 0 16px;
  }

  form {
    margin: 16px auto;
    max-width: 400px;
  }

  footer {
    width: 100%;
    
  }
  .sns-login {
    margin: 16px auto;
    max-width: 400px;
  }
}

/* Tablet */
@media (min-width: 768px) {

  form {
    max-width: 640px;
  }

  .sns-login {
    max-width: 640px;
  }
}

/* PC */
@media (min-width: 1200px) {
  
  form {
    width: 640px;
  }
  
  .sns-login {
    max-width: 640px;
  }
}
