/* index.jsx */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* BestProductList.jsx */
.best-product h2 {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.best-product .item-list {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

/* BestProductItem.jsx */
.best-product .item-img {
  display: block;
  width: 282px;
  height: 282px;
  border-radius: 16px;
  background-color: yellow;
}

.best-product .item-name {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #1f2937;
}

.best-product .item-price {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 700;
  color: #1f2937;
}

.best-product .item-favorite {
  display: flex;
  align-items: center;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
}

.best-product .item-favorite img {
  width: 13.4px;
  height: 11.65px;
  margin-right: 4px;
}

/* AllProductList.jsx */
.all-product {
  margin-top: 47px;
}

.all-product .top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.all-product .top-container > h2 {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.all-product .top-container > form {
  display: flex;
  gap: 12px;
  height: 42px;
}

.all-product .top-container .search-wrap {
  position: relative;
}

.all-product .top-container .search-wrap > img {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.all-product .top-container .search-input {
  padding: 9px 20px 9px 16px;
  width: 325px;
  height: 42px;
  border: none;
  border-radius: 12px;
  outline: none;
  text-indent: 28px;
  background-color: #f3f4f6;
}

.all-product .top-container .search-input::placeholder {
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
}

.all-product .top-container .product-registration-btn {
  padding: 12px 23px;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #3692ff;
}

.all-product .top-container .order-select {
  padding: 12px 20px;
  width: 130px;
  height: 42px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  background-color: #fff;
  background-image: url('../../assets/arrow_down_icon.svg');
  background-repeat: no-repeat;
  background-size: 15.7px 7.42px;
  background-position: calc(100% - 24px) 50%;
  cursor: pointer;
}

.all-product .top-container .order-dropdown {
  margin-top: 4px;
  width: 130px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #fff;
  cursor: pointer;
}

.all-product .top-container .order-option {
  padding: 12px 20px;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
}

.all-product .top-container .order-option:last-child {
  border-bottom: none;
}

.all-product .item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 25.46px;
  margin-top: 24px;
}
/* AllProductItem.jsx */
.all-product .item-img {
  display: block;
  width: 219.54px;
  height: 219.54px;
  border-radius: 16px;
  background-color: yellow;
}

.all-product .item-name {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #1f2937;
}

.all-product .item-price {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 700;
  color: #1f2937;
}

.all-product .item-favorite {
  display: flex;
  align-items: center;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
}

.all-product .item-favorite img {
  width: 13.4px;
  height: 11.65px;
  margin-right: 4px;
}
