.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.details {
  flex: 1;
  padding-left: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tag {
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.heart {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #888;
}

.comments {
  margin: 50px 0;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border-bottom: 0.5px solid var(--gray-400);
}

.comment-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-details {
  display: flex;
  flex-direction: column;
}

.comment-author {
  font-weight: 600;
}

.comment-date {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
}

.comment-content {
  font-size: 14px;
  margin-bottom: 10px;
}

.backButton {
  display: inline-block;
  margin: 0 auto;
}

.submitCommentButton {
  display: flex;
  justify-content: flex-end;
}

.comment-add {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 80px;
}

.comment-input {
  height: 104px;
  resize: none;
}

.comment-submit {
  display: inline-block;
  margin-left: auto;
}

.gitmoji {
  font-size: 24px;
}
