* {
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  margin: 0 auto;
  
}

header {
  height: 70px;
  
}

.header-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  margin: 0 200px;
  padding-top: 10px;
  
}

#판다마켓 {
  display: inline-block;
  width: 153px;
  height: 51px;
}

.판다배경 {
  display: flex;
  background-color: #CFE5FF;
  background-size: cover;
  width: auto;
  height: 540px;
}

.background-content {
  width: 1920px;
  margin: 0 auto;
  position: relative;
  
}

.home-panda {
  
  position: absolute;
  left: 701px;
  top: 93px;
}

.back-textBox {
  position: absolute;
  left: 360px;
  top: 170px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.button {
  border-radius: 40px;
  border: 1px solid #3692FF;
  background-color: #3692FF;
  padding: 16px 124px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

main {
  position: relative;
  width: 1920px;
  height: 2160px;
  margin: 0 auto;
}

.section1{
  position: absolute;
  left: 360px;
  display: flex;
  gap: 64px;
  width: 1200px;
  height: 720px;
  align-items: center;
  
}




.small-text {
  line-height: 25.2px;
  font-size: 18px;
  font-weight: 700;
  color: #3692FF
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

p {
  font-size: 24px;
  font-weight: 500;
  color: #374151;
  line-height: 28.8px;
}

.section2{
  position: absolute;
  left: 360px;
  top: 720px;
  display: flex;
  gap: 64px;
  width: 1200px;
  height: 720px;
  align-items: center;
  flex-direction: row-reverse;
  
}

.section2-text{
  text-align: right;
}

.section3{
  position: absolute;
  left: 360px;
  top: 1440px;
  display: flex;
  gap: 64px;
  width: 1200px;
  height: 720px;
  align-items: center;
  margin-bottom: 138px;
}

.bottomBackground {
  display: flex;
  margin-top: 138px;
  background-color: #CFE5FF;
  background-size: cover;
  width: auto;
  height: 540px;
}

#bottom-panda {
  position: absolute;
  left: 701px;
  
}

footer {
  background-color: #111827;
  height: 160px;
  width: 100%;
  background-size: 100%;
}

.footer-leftContent {
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}

.footer-centerContent {
  font-size: 16px;
  font-weight: 400;
  color: #E5E7EB;
  display: flex;
  text-decoration: none;
  gap: 30px;
}

.footerContent {
  margin:0 auto;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 1520px;

}

.footer-snsLink {
  display: flex;
  gap: 12px;
  align-items: center;
}

#footer-center-text {
  text-decoration: none;
  color: #e5e7eb;
}

.icon {
  width: 20px;
  
}

a{
  text-decoration: none;
}