* {
    box-sizing: border-box;
  }

.button {
  background-color: rgba(0, 0, 0, 0);
  white-space: nowrap;
  width: 100%;
}

.button-small {
  display: flex;
  width: 12.8rem;
  height: 4.8rem;
  padding: 1.2rem 2rem;
  text-decoration: none;
  background-color: #3692ff;
  border-radius: 0.8rem;
  color: #ffffff;
  border: none;
  font-family: Pretendard;
  font-size: 1.6rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}


.button-large {
  padding: 1.6rem 12.4rem;
  gap: 1rem;
  height: 5.6rem;
  background: var(--gray-400);
  background-color: #3692ff;
  border-radius: 40px;
  border: none;
  font-family: Pretendard;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  color: #ffffff;
}

.button:hover {
  cursor: pointer;
  background-color: #1967d6;
}

.btn:active {
  background-color: #1251aa;
}

.login-btn:hover {
  background-color: #3692ff;
}

.signup-btn:hover {
  background-color: #3692ff;
}

.btn:hover {
  background-color: #1967d6;
}

.input {
  width: 61.2rem;
  height: 5.6rem;
  border-radius: 1.2rem;
  border: 1px #3692ff;
  color: #f3f4f6;
}
