body{
  padding: 0;
  margin: 0;
  font-family: Pretendard;
  border: 0;
}

p{
  margin: 0;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  --button-color: #3692ff;
  --backgrount-color: #cfe5ff;
  --button-text-color: #ffffff;
  --header-title-text-color: #374151;
}

a{
  cursor: pointer;
  text-decoration-line: none;
}

.button{
  background-color: var(--button-color);
}

.first-layer{
  background-color: var(--backgrount-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-layer-container{
  background-color: var(--backgrount-color);
  width: 1920px;
  height: 540px;
  background-image: url("images/home/hero-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 701px bottom;
}

.header-title{
  margin-left: 360px;
  display: flex;
  margin-top: 70px;
}

.header-title-text > p{
  display: flex;
  gap: 32px;
  font-size: 40px;
  line-height: 56px;
  width: 700px;
  color: var(--header-title-text-color);
}
.header-title-text > .button{
  border-radius: 40px;
  padding: 16px 124px;
  color: var(--button-text-color);
  font-size: 20px;
  line-height: 24px;
}

nav{
  margin: 0 200px;
  width: 1520px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > a > img{
  width: 153px;
  height: 51px;
  margin-right: auto;
}
nav > .button{
  margin: 10px;
  border-radius: 8px;
  padding: 12px 20px 12px 20px;
  font-size: 16px;
  line-height: 19.09px;
  color: var(--button-text-color);
  
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  width: 1200px;
  height: 720px;
  margin-top: 138px;
}

.container{
  display: flex;
  gap: 64px;
}

.container > img{
  width: 588px;
  height: 444px;
}

section{
  --section-h5-color: #3692ff;
  --section-h2-p-color: #374151;
}

.section-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.section-text > h5{
  font-size: 18px;
  color: var(--section-h5-color);
  line-height: 25.2px;
}
.section-text > h2{
  font-size: 40px;
  line-height: 56px;
  color: var(--section-h2-p-color);
  font-weight: 700;
}
.section-text > p{
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
  color: var(--section-h2-p-color);

}
#section2-text{
  align-items: flex-end;
  text-align: right;
}

footer{
  --banner-background-color: #cfe5ff;
  --banner-p-color: #374151;
  --pang-end-background-color: #111827;
  --page-end-p1-color: #9ca3af;
  --page-end-p2-color: #e5e7eb;
}

.banner{
  display: flex;
  justify-content: center;
  background-color: var(--banner-background-color);
}

.banner-container > p{
  margin: 214px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--banner-p-color);
}

.banner-container{
  width: 1200px;
  height: 540px;
  background-image: url("images/home/bottom-banner-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% bottom;
}

.page-end{
  background-color: var(--pang-end-background-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 160px;
  padding:32px 200px 32px 200px;
}

.page-end > a > img{
  width: 20px;
  height: 20px;
}

.p1{
  color: var(--page-end-p1-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}
.p2{
  display: flex;
  gap: 30px;
}

.p2 > a > p{
  color: var(--page-end-p2-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}