:root {
  /* area-bg-color */
  --bg-color-white: #FFFFFF;

  /* btn-bg-color */
  --btn-bg-color-default: #3692FF;
  --btn-bg-color-hover: #1967D6;
  --btn-bg-color-click: #1251AA;
  --btn-bg-color-inactive: #9CA3AF;
  
  /* text-color */
  --text-color-cool-gray: #374151;
  --text-color-white: #FFFFFF;
  --text-color-blue: #3692FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--btn-bg-color-default);
  color: var(--text-color-white);
  cursor: pointer;
}

.btn:hover {
  background: var(--btn-bg-color-hover);
}

.btn:active {
  background: var(--btn-bg-color-click);
}

.btn:disabled {
  background: var(--btn-bg-color-inactive);
}

.btn_small {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  font: 600 16px / 19.09px 'Pretendard';
}

.btn_large {
  width: 355px;
  height: 56px;
  border-radius: 40px;
  font: 600 20px / 24px 'Pretendard';
}