* {
  box-sizing: border-box;
  margin: 0;
}

.header-login-and-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 396px;
  height: 132px;
  margin: 60px auto 40px;
}

.header-login-and-signup-icon {
  width: 103.53px;
  height: 103.88px;
}

.header-login-and-signup-title {
  width: 266px;
}

.container-login-and-signup {
  width: 640px;
  height: 430px;
  margin: 0 auto;
  display: grid;
  gap: 24px;
}

.login-box,
.signup-box {
  display: grid;
  gap: 16px;
}

.login-label,
.signup-label {
  color: var(--color-gray800);
  font-size: 18px;
  font-weight: 700;
}

input {
  color: var(--color-gray800);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-gray100);
  width: 640px;
  height: 56px;
  border-radius: 12px;
  border-color: rgb(0, 0, 0, 0);
  padding: 0 18px;
}

input:focus {
  border-color: var(--color-blue);
  outline: none;
}

input::placeholder {
  color: var(--color-gray400);
  font-size: 16px;
  font-weight: 400;
}

.login-pw-container {
  position: relative;
}

/* .see-pw-btn {
  cursor: pointer;
}

.see-pw-img {
  width: 24px;
  height: 24px;
  background-image: url(/images/ic_invisible-pw.png);
  position: absolute;
  top: 16px;
  right: 18px;
} */

.login-btn,
.signup-btn {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color-gray400);
  border-color: rgb(0, 0, 0, 0);
  border-radius: 40px;
  width: 640px;
  height: 56px;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: var(--color-blue);
}

.easy-login-box {
  color: var(--color-gray800);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--color-lighter-blue);
  width: 640px;
  height: 74px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px;
}

.easy-login-btns {
  display: flex;
  gap: 16px
}

.easy-login-btns img {
  width: 42px;
  height: 42px;
  gap: 16px
}

.guide-to-signup {
  text-align: center;
}

.link-to-signup {
  color: var(--color-solid-blue);
}

@media (min-width: 375px) and (max-width: 767px) {
  body {
    padding: 0 16px;
  }

  .header-login-and-signup {
    width: 198px;
    height: 66px;
  }

  .header-login-and-signup-icon {
    width: 51.76px;
    height: auto;
  }

  .header-login-and-signup-title {
    width: 133px;
    height: auto;
  }

  .container-login-and-signup,
  input,
  .login-box,
  .login-btn,
  .signup-btn,
  .easy-login-box {
    max-width: 400px;
    width: 100%;
  }

  .login-box {
    gap: 10px;
  }

  .login-label {
    font-size: 14px;
    line-height: 16.71px;
  }
}