*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
header{
  width: 1920px;
  height: 70px;
  padding: 10px 200px 9px 200px;
  gap: 0px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  background: #FFFFFF;
  border-bottom: 1px solid #DFDFDF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo{
  margin-right: auto; 
  margin-left: 200px;
  cursor: pointer;
}
.login{
  width: Fixed (128px)px;
  height: Fixed (48px)px;
  top: 127px;
  left: 538px;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background: #3692FF;
  color: #FFFFFF;
  margin-right:200px;
  margin-left:auto;
  cursor: pointer;
}
main{
  width: 1920px;
  height: 540px;
  gap: 0px;
  opacity: 0px;
  background: #CFE5FF;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.left{
  display: flex;
  flex-direction: column;
  top: 170px;
  left: 360px;
  gap: 32px;
  position: absolute;
}
h2{
  color: #374151;
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}
.gotosee{
  width: Hug (357px)px;
  height: Hug (56px)px;
  top: 127px;
  left: 103px;
  padding: 16px 124px 16px 124px;
  gap: 10px;
  border-radius: 40px;
  opacity: 0px;
  background: #3692FF;
  color:#ffffff;
  cursor: pointer;
}
.panda{
  left: 701px;
  bottom:0px;
  padding-left: 30px;
  position: absolute;
}
.container_box{
  width: 1920px;
  height:2160px;
  text-align: center;
}
.container{
  width: 1200px;
  height: 2160px;
  top: 610px;
  left: 360px;
  gap: 0px;
  border: 1px;
  display:grid;
  grid-template-rows: repeat(3,1fr);
  margin:auto;
}
.section{
  display: flex;
  align-items: center;
  gap:64px;
}
.description{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:12px;
}
.section_image{
  width: 588px;
  height: 444px;
}
.article1{
  color: #3692FF;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
}
.article2{
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #374151;
}
.article3{
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.08em;
  text-align: left;
  color: #374151;
  margin-top:24px;
}
.section_reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap:64px;
}
.second_description{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  gap:12px;
}
.article2_reverse{
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
  text-align: right;
  color: #374151;
}
.article3_reverse{
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.08em;
  text-align: right;
  color: #374151;
  margin-top:24px;
}
.section_last{
  width: 1920px;
  height: 540px;
  top: 2908px;
  gap: 0px;
  opacity: 0px;
  background: #CFE5FF;
  display:flex;
  justify-content: center;
  align-items: center;
}
footer{
  width: 1920px;
  height: 160px;
  top: 3448px;
  padding: 32px 200px 32px 200px;
  gap: 10px;
  opacity: 0px;
  background: #111827;
}
.footer_section{
  width:1520px;
  height:20px;
  display:flex;
  justify-content: space-between;
}
.codeit{
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
  color: #9CA3AF;
}
.PF{

  display:flex;
  gap:30px;
}
#Privacy, #FAQ{
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
  color: #E5E7EB;
  cursor: pointer;
}
.icon{
  display:flex;
  width: 116px;
  height: 20px;
  padding: 1.85px 2px 1.15px 1px;
  gap: 12px;
  opacity: 0px;
  cursor: pointer;
}
@media(min-width:1920px){
  main{
    padding: 0 20px;
  }
}
@media(max-width:1920px){

}