*{ 
  box-sizing: border-box;
  font-family: "Pretendard";
}

header { 
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.logo { 
  margin-left: 200px;
}

body{ 
  margin: 0;
  padding: 0;
}

main { 
  width: 1200px;
  margin: 0 auto;
}

a { 
  text-decoration: none;
}

p { 
  margin: 0;
}

h2 { 
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.mainimg { 
  width: 588px;
  height: 444px;
}

.mainfirst { 
  display: flex;
  position: relative;
  width: 955px;
  height: 444px;
  top: 137.5px;
  gap: 64px;
}

.section-description { 
  position: absolute;
  top: 106.5px;
  left: 652px;
  width: 303px;
  height: 231px;
  gap: 12px;
  white-space: nowrap;
}

.mainsecond { 
  display: flex;
  position: relative;
  width: 969px;
  height: 444px;
  top: 858px;
  left: 231px;
  gap: 64px;
}

.mainthird { 
  display: flex;
  position: relative;
  width: 969px;
  height: 444px;
  top: 1578px;
  gap: 64px;
}

.explain { 
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
}

.subject { 
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: #3692FF;
}

.login { 
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  width: 128px;
  height: 48px;
  padding: 12px 20px;
  color: #ffffff;
  background-color: #3692FF;
  border-radius: 8px;
  border: none;
  gap: 10px;
  text-align: center;
  margin-right: 200px;
}

.login:hover { 
  background-color: #1251AA;
}

nav { 
  width: 1920px;
  height: 540px;
  background-image: url("images/navi.png");
  background-repeat: no-repeat;
  background-size: 996px 447px;
  background-position: 701px 93px;
  background-color: #CFE5FF;
}

div.toppanda { 
  width: 357px;
  height: 200px;
  position: relative;
  top: 170px;
  left: 360px;
  white-space: nowrap;
}

.view { 
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  position: relative;
  top: 32px;
  width: 357px;
  height: 56px;
  padding: 16px 124px;
  color : #ffffff;
  border-radius: 40px;
  background-color: #3692FF;
}

.view:hover { 
  background-color: #1251AA;
}

.lastmain { 
  width: 1920px;
  height: 540px;
  position: relative;
  background-color: #CFE5FF;
  background-image: url("images/bottom.png");
  background-repeat: no-repeat;
  background-size: 996px 540px;
  background-position: 701px;
  top: 2298px;
}

h2.believepanda { 
  width: 286px;
  height: 112px;
  position: relative;
  top: 214px;
  left: 360px;
  white-space: nowrap;
}

.info { 
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}

div.footerlink { 
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 32px;
  margin-left: 200px;
  margin-right: 200px;
}

.footerimg { 
  display: flex;
  justify-content: space-around;
  width: 116px;
  height: 20px;
  gap: 12px;
}

.afooter { 
  display: flex;
  width: 159px;
  height: 19px;
  justify-content: space-between;
}

footer { 
  width: 1920px;
  height: 160px;
  position: relative;
  background-color: #111827;
  top: 2298px;
}