@import url('color.css');
* {
    box-sizing: border-box;
  }

html{
    font-size: 62.5%;
}
body{
    margin:0;
}

main{
    padding-top:6rem;
    width:64rem;
    margin:0 auto;
}

.width{
    width: 100%;
}


.signup-logo{
    display: flex;
    margin: auto;
    border: none;
    justify-content: center;
}

.signup-logo-img{
    margin:auto;
}

.form-container{
    width: 64rem;
    height: 43rem;
    
}


.label-text{
    font-family: Pretendard;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
}


input:focus{
    outline-color: #3692ff;
    
}
input::placeholder{
    color: var(--gray-400);
    font-size: 1.6rem;
}

.input-text{
    height: 5.6rem;
    padding-left: 2.4rem;
    color: black;
    border: none;
    border-radius: 1.2rem;
    background-color: #f3f4f6;
    font-size: 1.6rem;
    font-family: Pretendard;
    color: var;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
    margin-top:1.6rem;
    margin-bottom: 1.6rem;

}

.password{
    position: relative;
}

.unvisible{
    position: absolute;
    top: 5.3rem;
    right: 2.4rem;

}

.simple-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
    background-color: #e6f2ff;
    height: 7.4rem;
    border-radius: 0.8rem;
    padding-left: 3.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: Pretendard;
}

.icons{
    display: flex;
    gap: 1.6rem;
    margin-right: 2.4rem;
}

.ask-login{
    font-family: Pretendard;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2.4rem;
    text-align: center;
}
#login{
    color: #3182F6;
}


/* 태블릿 */

@media  (min-width: 768px) and (max-width: 1199px ){

    main{
        margin: auto;
    }

    }
    
    /* 모바일 */
    @media (min-width:0) and (max-width: 767px){
    
    main{
        width: 100%;
        max-width: 40rem;
        padding:2.4rem 1.6rem auto 1.6rem;
    
    }
    
    .form-container{
        width: 100%;
        margin:auto;
    }
    
    .signup-logo-img{
        width: 20rem;
    }
    
    }