* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
}

#top-logo {
  width: 100%;
}

main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 16px;
}


label {
  display: block;
  padding-bottom: 16px;
  
}

input {
  border: none;
  background-color: var(--gray-100);
  border-radius: 12px;
  width: 640px;
  height: 56px;
  margin-bottom: 24px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.login-text {
  font-size: 18px;
  font-weight: 700;
}

.simple-login {
  background-color: #E6F2FF;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 23px;
  
}

.simple-login-text {
  font-size: 16px;
  font-weight: 500;
}

.sns-icon {
  display: flex;
  gap: 16px;
}

.move-signUp {
  text-align: center;
  margin-bottom: 428px;
}

.password-box {
  position: relative;
}

#vector {
  position:absolute;
  right: 25.74px;
  top: 19.49px;
  width: 20.47px;
  height: 18.07px;;
}

.error-message {
  font-size: 15px;
  color: #f74747;
  font-weight: 600;
  display: none;
  margin-bottom: 24px;
  padding-left: 24px;
}

@media(max-width: 767px) {
  

  #top-logo {
    max-width: 400px;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .login-box {
    max-width: 400px;
    width: 100%;
    margin: 0 16px;
    
  }

  input {
    width: 100%;
    max-width: 400px;
  }

  #Vector {
    position: absolute;
    top: 19.49px;
    right: 25.74px;
  }
}