* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: #ffffff;
}

header .logo {
  width: 153px;
}

.login {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 20px;
  text-decoration: none;
}

.banner {
  background-color: #cfe5ff;
  display: flex;
  align-items: center;
  height: 540px;
}

#top {
  background-image: url(images/Img_home_top.png);
  background-size: cover;
  background-position: center;
  
}

.banner-box {
  width: 1200px;
  margin: 0 auto;
}

.banner-box h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.banner-box .btn {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 999px;
  padding: 16px 124px;
  margin-top: 34px;
  text-decoration: none;
}