:root {
    --white: #ffffff;
    --banner: #cfe5ff;
    --blue: #3692ff;
    --hoverblue: #1967D6;
    --activeblue: #1251AA;
    --footer: #111827;
    --gray700: #374151;
    --gray400: #9CA3AF;
    --gray200: #e5e7eb;
    --border: #DFDFDF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Pretendard Variable', 'sans-serif';
    word-break: keep-all;
}

.main_text {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    color: var(--gray700);
}

.feature_description {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 500;
    color: var(--gray700);
}

.feature_tag {
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 700;
    color: var(--blue);
}

h1, h2, h3 {
    margin: 0;
}

header {
    position: fixed;
    background-color: var(--white);
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo_image {
    margin-left: 200px;
}

.contents_btn {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    border: 0;
    text-align: center;
    text-decoration-line: none;
}

.contents_btn:hover {
    background-color: var(--hoverblue);
}

.contents_btn:active {
    background-color: var(--activeblue);
}

.btn_large {
    width: 357px;
    height: 56px;
    border-radius: 40px;
    padding: 16px 124px;
    font-weight: 600;
}

.btn_small {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    margin-right: 200px;
    width: 128px;
    height: 48px;
    border-radius: 8px;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: var(--banner);
    width: 100%;
    height: 540px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 200px bottom;
}

.topbanner {
    margin-top: 70px;
    background-image: url('./images/home/Img_home_top.png');
}

.bottombanner {
    background-image: url('./images/home/Img_home_bottom.png');
    background-size: contain;
}

.banner_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    color: var(--gray700);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 138px;
}

section {
    display: flex;
    gap: 64px;
    margin: 138px auto;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.section_text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section_right {
    justify-content: flex-end;
    text-align: right;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray400);
    background-color: var(--footer);
    width: 100%;
    height: 160px;
    padding: 32px 200px 108px;
}

.footer_menu {
    display: flex;
    gap: 30px;
}

.footer_menu_btn {
    color: var(--white);
    text-decoration: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.sns_icon {
    display: flex;
    gap: 12px;
}

@media (min-width: 375px) and (max-width: 767px) {
    .logo_image {
        display: none;
    }

    .logo_text {
    margin: 0 0 0 16px;
    }

    .btn_small {
        margin: 0 16px 0 0;
    }

    .banner {
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .banner_content {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-weight: 700;
        gap: 16px;
        text-align: center;
    }

    .bottom_bn_content {
     position: relative;
     top: 73px; 
     line-height: 44.8px;  
    }

    .btn_large {
        width: 154px;
        height: 48px;
        border-radius: 24px;
        padding: 16px 20px;
        gap: 10px;
        font-weight: 600;
    }

    main {
        margin: 64px auto;
        gap: 64px;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        gap: 20px;
    }

    .section_right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .section_text, .section_text_right {
        order: 2;
    }

    .feature_img {
        width: 344px;
        height: 259px;
        order: 1;
    }

    .main_text {
        font-size: 24px;
        line-height: 33.6px;
    }

    .feature_description {
        font-size: 16px;
        line-height: 19.2px;
    }

    .br_mobile {
        display: none;
    }


}

@media (min-width: 768px) and (max-width: 1199px) {

    .banner {
        height: 771px;
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .banner_content {

        margin-top: 84px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-weight: 700;
        gap: 16px;
        text-align: center;
    }

    .br_tablet {
        display: none;
    }
}