* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
  text-decoration: none;
}

.logo {
  width: 153px;
  height: 51px;
}

.login {
  color: var(--color-white);
  font-size: 16px);
  font-weight: 600;
  background-color: var(--color-blue);
  border-radius: 8px;
  width: 128px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-to-items {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color-blue);
  width: 357px;
  height: 56px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  background-color: var(--color-white);
  height: 70px;
  padding: 0 200px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.home-banner,
.home-end {
  background-color: var(--color-light-blue);
  width: 100%;
  height: 540px;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.home-banner .img-box,
.home-end .img-box {
  width: 100%;
  overflow: hidden;
}

/* .home-banner .img-box {
  background-image: url(/images/img_home_hello-panda-alone.png);
  background-size: cover;
  background-position: center;
}

.home-end .img-box {
  background-image: url(/images/img_home_hello-panda-together.png);

} */

.home-banner .img,
.home-end .img{
  max-width: 996px;
  height: auto;
  position: absolute;
  bottom: 0;
}

.home-main {
  max-width: 1200px;
  margin: 138px auto 276px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 276px 0;
}

.home-main .img {
  width: 588px;
  height: 444px;
  margin: 0 auto;
}

.home-main-text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-main-text.right {
  text-align: right;
}

.home-main-text.left {
  text-align: left;
}

.home-main .title {
  color: var(--color-blue);
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.phrase {
  color: var(--color-gray700);
  font-size: 40px;
  font-weight: 700;
  min-width: 290px;
  margin: 20px 0;
  line-height: 56px;
}

.home-main .description {
  color: var(--color-gray700);
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}

footer {
  background-color: var(--color-gray900);
  height: 160px;
  padding: 50px 200px;
  font-size: 16px;
  font-weight: 400;
}

footer .copyright {
  color: var(--color-gray400);
}

footer .privacy-and-faq {
  display: grid;
  grid-template: 19px / 100px 29px;
  gap: 0 30px
}

footer .privacy-and-faq > a {
  color: var(--color-gray200);
  text-decoration: none;
}

footer .social-link {
  display: grid;
  grid-template: 20px / repeat(4, 20px);
  gap: 0 12px;
}


/* Tablet Size: viewport 768px 이상 ~ 1199px 이하 */

@media (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 0 24px;
  }

  .container {
    max-width: 1199px;
    min-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-banner {
    padding-top: 84px;
    height: 771px;
  }

  .home-banner-ment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .phrase.center {
    text-align: center;
  }

  .home-banner .img-box,
  .home-end .img-box {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .home-banner .img-box {
    height: 447px;
  }

  .home-end .img-box {
    height: 540px;
  }

  /* .home-banner .img,
  .home-end .img {
    overflow: hidden;
  } */

  .home-end {
    padding-top: 201px;
    height: 927px;
  }

  .home-main {
   max-width: 1199px;
   margin: 24px auto;
   display: grid;
   grid-template-columns: 696px;
   grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr;
   grid-template-areas:
   "r1"
   "r2"
   "r3"
   "r4"
   "r5"
   "r6";
   gap: 0;
  }

  #img1 {
    grid-area: r1;
  }

  #txt1 {
    grid-area: r2;
  }

  #img2 {
    grid-area: r3;
  }

  #txt2 {
    grid-area: r4;
  }

  #img3 {
    grid-area: r5;
  }

  #txt3 {
    grid-area: r6;
  }

  .home-main .img {
    width: 696px;
    height: 524px;
    margin: 0 auto;
  }

  .home-main-text {
    padding: 24px 0;
  }

  .home-main .title {
    margin: 0;
    line-height: 25.2px;
  }

  .home-main .phrase {
    font-size: 32px;
    line-height: 44.8px;
  }

  .home-main span {
    display: inline;
  }

  .home-main .description {
    font-size: 18px;
    line-height: 21.6px;
  }

  footer {
    padding: 50px 100px;
  }
}


/* Mobile Size: viewport 375px 이상 ~ 767px 이하 */

@media (min-width: 375px) and (max-width: 767px) {
  header {
    padding: 0 16px;
  }

  .container {
    max-width: 767px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-banner {
    padding-top: 48px;
    height: 540px;
  }

  .home-banner-ment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .phrase.center {
    text-align: center;
    font-size: 32px;
    line-height: 44.8px;
  }

  .link-to-items {
    width: 154px;
    height: 48px;
    font-size: 16px;
  }

  .home-banner .img-box,
  .home-end .img-box {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .home-banner .img-box {
    height: 281px;
  }

  .home-end .img-box {
    height: 269.95px;
  }

  .home-banner .img {
    width: 626.12px;
    height: 281px;
  }

  .home-end .img {
    width: 497.91px;
    height: 269.95px;
  }

  .home-end {
    padding-top: 121px;
    height: 540px;
  }

  .home-main {
    max-width: 767px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 344px;
    grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: 
    "r1"
    "r2"
    "r3"
    "r4"
    "r5"
    "r6";
    gap: 0;
  }

  #img1 {
    grid-area: r1;
  }

  #txt1 {
    grid-area: r2;
  }

  #img2 {
    grid-area: r3;
  }

  #txt2 {
    grid-area: r4;
  }

  #img3 {
    grid-area: r5;
  }

  #txt3 {
    grid-area: r6;
  }
  
  .home-main .img {
    width: 344px;
    height: 259px;
    margin: 0 auto;
  }

  .home-main-text {
    padding: 16px 0;
    }
  
  .home-main .title {
    font-size: 16px;
    line-height: 22.4px;
    margin: 0;
  }

  .home-main .phrase {
    font-size: 24px;
    line-height: 33.6px;
    margin: 0;
  }

  .home-main span {
    display: inline;
  }

  .home-main .description {
    font-size: 16px;
    line-height: 19.2px;
  }

  footer {
    padding: 30px 30px;
  }
}