.h2_title {
  font: 700 40px / 56px 'Pretendard';
  color: var(--text-color-cool-gray);
  word-break: keep-all;
}

.p_description {
  font: 500 24px / 28.8px 'Pretendard';
  letter-spacing: 0.08em;
}

.bg_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  background: #cfe5ff no-repeat right 12% bottom;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 70px;
  padding: 0 200px;
  border-bottom: 1px solid #dfdfdf;
  background-color: var(--bg-color-white);
}

.nav-bar__logo-wrapper {
  display: flex;
  align-items: center;
}

.header-home__wrapper {
  background-image: url(image-resources/img_header.png);
}

.header-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  height: 200px;
}

.header-home,
.main-footer {
  padding-left: 36px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section__wrapper {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 720px;
}

.main-section {
  display: flex;
  align-items: center;
  gap: 64px;
}

.feature__keyword {
  margin-bottom: 12px;
  font: 700 18px / 25.2px 'Pretendard';
  color: var(--text-color-blue);
}

.feature__title {
  margin-bottom: 24px;
  letter-spacing: 2%;
}

.feature__description {
  letter-spacing: 8%;
}

.main-section__wrapper__reverse {
  justify-content: flex-end;
}

.main-section__reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.main-footer__wrapper {
  width: 100%;
  margin-top: 138px;
  background-image: url(image-resources/Img_home_bottom.png);
}

.main-footer {
  width: 1200px;
}

footer {
  height: 160px;
  padding: 32px 200px;
  background: #111827;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font: 400 16px / 19.09px Pretendard;
  color: #9ca3af;
}

.info {
  display: flex;
  gap: 30px;
  font: 400 16px / 19.09px Pretendard;
}

.info a {
  color: #e5e7eb;
}

.contact-list {
  display: flex;
  gap: 12px;
  list-style: none;
}

.contact-list a {
  font: 400 16px / 19.09px Pretendard;
  color: var(--text-color-white);
}

/* 태블릿 */

@media screen and (max-width: 1199px) {
  .h2_title br {
    display: none;
  }

  .bg_wrapper {
    align-items: flex-start;
    background-position: center bottom;
  }

  .header-home {
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }

  main {
    gap: 16px;
  }

  .main-section__wrapper {
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .main-section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 24px;
    gap: 20px;
  }

  .main-section__reverse {
    align-items: flex-end;
  }

  .main-section__img {
    width: 100%;
  }

  .main-footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .h2_title {
    font-size: 32px;
    line-height: 44.8px;
  }

  .p_description {
    font-size: 18px;
    line-height: 21.6px;
  }

  .bg_wrapper {
    height: 771px;
    padding-top: 84px;
  }

  .nav-bar {
    padding: 0 24px;
  }

  .header-home h2,
  .main-footer h2 {
    font-size: 40px;
    line-height: 56px;
  }

  .feature__keyword {
    margin-bottom: 8px;
  }

  .feature__title {
    margin-bottom: 16px;
  }

  .main-footer__wrapper {
    height: 927px;
    padding-top: 201px;
    margin-top: 40px;
  }

  .main-footer br {
    display: inline;
  }

  footer {
    padding: 32px 104px;
  }
}

/* 모바일 */

@media screen and (max-width: 767px) {
  .h2_title {
    font-size: 24px;
    line-height: 33.6px;
  }

  .p_description {
    font-size: 16px;
    line-height: 19.2px;
  }

  .bg_wrapper {
    height: 540px;
    padding-top: 48px;
    background-size: 626.12px;
  }

  .nav-bar {
    padding: 0 16px;
  }

  .nav-bar__logo {
    content: url(image-resources/img_logo.png);
  }

  .header-home {
    gap: 18px;
    text-align: center;
  }

  .header-home,
  .main-footer {
    padding: 0;
  }

  .header-home h2,
  .main-footer h2 {
    font-size: 32px;
    line-height: 44.8px;
  }

  .header-home br,
  .main-footer br {
    display: inline;
  }

  .feature__keyword {
    margin-bottom: 4px;
  }

  .feature__title {
    margin-bottom: 8px;
  }

  .main-footer__wrapper {
    padding-top: 121px;
    margin-top: 24px;
    background-size: 497.91px;
  }

  footer {
    padding: 32px;
  }

  .footer-container {
    align-content: space-between;
    height: 100%;
    position: relative;
  }

  .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
