.all-items-section-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.all-items-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.all-items-section-title {
  font-size: 20px;
  font-weight: 700;
}
.all-items-section-toolbar {
  display: flex;
  gap: 10px;
}
.all-items-section-search-input {
  width: 325px;
  height: 42px;
  padding: 9px 20px 9px 16px;
  background-color: var(--gray100);
  outline: none;
  border: none;
  border-radius: 12px;
}
.all-items-section-search-input::placeholder {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.all-items-section-product-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 23px;
  background-color: var(--blue);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}
.all-items-section-sort-options-select {
  font-size: 16px;
  padding: 12px 20px;
  border: 1px solid var(--gray200);
  border-radius: 12px;
}
.all-items-section-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-column-gap: 24px;
  grid-row-gap: 40px;
}
.all-items-section-paination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 40px;
  margin-bottom: 113px;
}
.all-items-section-paination-button {
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray500);
  background-color: var(--white);
  border: 1px solid var(--gray200);
  border-radius: 40px;
  cursor: pointer;
}

.select-page {
  background-color: var(--blue);
  color: var(--white);
}
@media (min-width: 744px) and (max-width: 1199px) {
  .all-items-section-content {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
  }
}
@media (min-width: 375px) and (max-width: 743px) {
  .all-items-section-content {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 32px;
  }
}
