.login-logo{
    margin: 0 auto;
    margin-top: 60px;
  }
  
  .divide{
    margin-top: 0;
    font-size: 0;
    text-align: left;
    margin-bottom: 2.4rem;
  }
  
  .input-name{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1.6rem;
  }
  
  #login-box{
    margin: 0 auto;
    margin-top: 24px;
    width: 640px;
  }
  .for-btn_visibility{
    position: relative;
  }
  
  .input-box{
    background-color: var(--gray100);
    width: 100%;
    height: 56px;
    border-width: 0;
    border-radius: 12px;
    padding: 16px 24px;
  }
  
  .for-btn_visibility img{
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  input:focus {
    outline: none; /* 포커스 효과의 기본 테두리 제거 */
    border: 1px solid var(--panda-blue); /* 포커스가 발생했을 때의 테두리 색상 지정 */
  }
  
  .divide .btn{
    width: 100%;
    background-color: var(--gray400);
  }
  
  .divide .btn:hover{
    background-color: var(--panda-blue);
  }
  
  .help-login{
    display: flex;
    justify-content: space-between;
    padding: 2.3rem;
    border-radius: 0.8rem;
    align-items: center;
    height: 7.4rem;
    background-color: #E6F2FF;
    font-size: 1.6rem;
  }
  
  .icons{
    display: flex;
    gap: 1.6rem;
    font-size: 0;
  }
  
  #help-signup{
    font-size: 1.5rem;
  }
  @media (max-width: 767px){
    .login-logo img{
        width: 50%;
      }

    #login-box{
        padding: 16px;
        width: 100%;
        max-width: 400px;
      }
  }