  *{
    box-sizing: border-box;
  }
  
  html{
  font-size: 62.5%;
  }
  
  
  :root{
    --gray900: #111827;
    --gray800: #1F2937;
    --gray700: #374151;
    --gray600: #4B5563;
    --gray500: #6B7280;
    --gray400: #9CA3AF;
    --gray200: #E5E7EB;
    --gray100: #F3F4F6;
    --gray50: #F9FAFB;
    --panda-blue: #3692FF;
    --panda-skyblue: #CFE5FF;
    --panda-red: #F74747;
  }
  
  
  body {
    margin: 0;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    color: #374151;
    text-align: center;
  }
  
  .header{
    width: 100%;
  }

  h1{
    line-height: 45px;
  }
  
  .nav{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: 70px;
    line-height: 0;
  }

  .logo{
    display: flex;
    align-items: center;
  }

  .panda{
    display: none;
  }
  
  .btn-login{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--panda-blue);
  width: 128px;
  height: 48px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  }
  
  .banner{ 
    display: flex;
    background: var(--panda-skyblue);
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dfdfdf;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 55px;
  }
  
  #banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
  }
  
  #banner-content h1{
    font-size: 32px;
    margin-top: 48px;
  }
  
  .banner-img-top{
    width: 170%;
  }
  
  .banner-img-bottom{
    width: 130%;
  }
  
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--panda-blue);
    color: #ffffff;
    text-decoration: none;
    width: 154px;
    height: 48px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 60px;
  }
  
  .section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 24px;
    max-width: 1200px;
  }
  
  .section * {
    flex-grow: 1;
    min-width: 375px;
  }

  .section span{
    display: inline-block;
    min-width: initial;
  }

  .section img{
    width: 100%;
  }
  
  .blue-text{
    font-size: 16px;
    font-weight: 700;
    color: var(--panda-blue);
    margin-bottom: 0;
  }
  
  .text{ 
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
    line-height: 2.9rem;
    letter-spacing: 0.08em;
    margin: 0;
  }
  
  .section h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;
  }
  
  .odd{
    text-align: left;
  }
  
  .even{
    text-align: right;
    flex-direction: row-reverse;
  }
  
  .even div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .banner-bottom{ 
      display: flex;
      background: var(--panda-skyblue);
      width: 100%;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #dfdfdf;
      flex-wrap: wrap;
      overflow: hidden;
      gap: 55px;
      padding-top: 72px;
    }

    .banner-bottom h1{
      margin: 0;    
    }
  
  .bottom{
    display: flex;
    justify-content: center;
    background: var(--gray900);
    width: 100%;
    height: 160px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 32px;
    text-align: center;
  }
  
  .bottom-detail{
    color: var(--gray400);
    display: flex;
    justify-content: space-between;
    max-width: 1520px;
    height: 20px;
    width: 100%;
  }

  .bottom-detail-mobile{
    color: var(--gray400);
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 100%;
  }
  
  .l-detail{
    display: flex;
    flex-direction: column;
    height: 96px;
    justify-content: space-between;
    text-align: left;
  }
  
  .bottom-detail-faq{
    color: var(--gray200);
    display: flex;
    gap: 30px;
  }
  
  .bottom-detail-icon{
    display: flex;
    gap: 12px;
  }
  
  .link{
    text-decoration: none;
    color: inherit;
  }

  .bottom-detail-mobile {
    display: flex;
}

.bottom-detail {
    display: none;
}

@media (min-width: 768px) {
  .nav{
    padding-left: 24px;
    padding-right: 24px;
  }

  .panda{
    display: block;
  }

  .banner{
    gap: 100px;
  }

  #banner-content{
    width: auto;
  }

  #banner-content h1{
    font-size: 40px;
    margin-top: 84px;
  }

  .btn{
    width: 355px;
    height: 60px;
    font-size: 20px;
  }
  
  .banner-img-top{
    width: auto;
  }
  
  .banner-img-bottom{
    width: auto;
  }

  .container{
    margin-top: 0;
  }

  .blue-text{
    font-size: 18px;
  }

  .section h1{
    font-size: 32px;
  }

  .bottom-detail-mobile {
    display: none;
}

.bottom-detail {
    display: flex;
}

}

@media (min-width: 1200px) {
  .nav{
    padding-left: 200px;
    padding-right: 200px;
  }

  .banner{
    gap: 0;
  }

  #banner-content{
    width: 355px;
  }
  
  #banner-content h1{
    margin-top: 0;
    text-align: left;
  }

  .banner-img-top{
    margin-top: 93px;
  }
  .container {
    gap: 276px;
    padding: 0;
    margin-top: 138px;
    margin-bottom: 277px;
  }

  .section{
    gap: 64px;
  }

  .section *{
    flex: 1;
  }

  .section h1{
    font-size: 40px;
    width: 240px;
  }

  .section img{ /*이미지의 크기를 키우고 싶었으나 원하는대로 동작하지 않음.*/
    width: 588px;
  }

  .text{
    font-size: 24px;
  }

  .banner-bottom{ 
    padding-top: 0;
  }

}
