@import "/reset.css";

* {
  color: var(--Cool-gray-800);
}

.logo {
  display: block;
  width: 396px;
  border: none;
  margin: 60px auto 0;
  cursor: pointer;
}

.logo > img {
  width: 396px;
}

.container {
  width: 640px;
  margin: 40px auto 0;
}

.auth-form label {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

.auth-form input {
  margin-bottom: 24px;
  padding: 16px 24px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: var(--Cool-gray-100);
  font-size: 16px;
  font-weight: 400;
}

.auth-form input::placeholder {
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
}

.auth-form input:focus {
  outline: 2px solid var(--main-color);
}

.auth-form .input-container {
  width: 100%;
  position: relative;
}

.auth-form .btn_visibility_on_24px {
  position: absolute;
  top: 16px;
  right: 24px;
  width: 20.47px;
  height: 18.07px;
  border: none;
  cursor: pointer;
}

.auth-form .btn_visibility_on_24px img {
  width: 20.47px;
  height: 18.07px;
}

.auth-form .btn_large {
  display: block;
  width: 100%;
  padding: 16px 124px;
  border: none;
  border-radius: 40px;
  background-color: #9ca3af;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.auth-form .btn_large:hover {
  background-color: var(--main-color);
}

.sns-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding: 0 23px;
  width: 100%;
  height: 74px;
  border-radius: 8px;
  background-color: #e6f2ff;
}

.sns-login div:first-child {
  font-size: 16px;
  font-weight: 500;
}

.sns-login .sns-icon > button {
  border: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
}

.sns-login .sns-icon > button:last-child {
  margin-left: 10px;
}

.sns-login .sns-icon > button > img {
  width: 42px;
  height: 42px;
}

.signup-page-move,
.login-page-move {
  margin-top: 24px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.signup-page-move > a,
.login-page-move > a {
  color: #3182f6;
}

/* Mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  body {
    padding: 0 16px;
  }

  .logo {
    width: 198px;
    margin: 30px auto 0;
    cursor: pointer;
  }

  .logo > img {
    width: 198px;
  }

  .container {
    width: 100%;
    max-width: 400px;
    margin: 24px auto 0;
  }

  .auth-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
  }
}
