.container{
    width: 1920px;
}
/* navBar Style */
.navBar{
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
}
.img_navBar_logo{
    width: 153px;
    height: 51px;
}
.button_login{
    width: 128px;
    height: 48px;
    background-color: #3692FF;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
/* banner style */
.banner{
    height: 540px;
    background-color: #CFE5FF;
    display: flex;
}
.banner_item_wrapper{
    gap: 20px;
    padding-top: 170px;
    padding-left: 360px;
}
/*Top banner*/
.banner_top_info{
    font-size: 40px;
    font-weight: 700;
    color: #374151;
}
.button_banner{
    width: 357px;
    height: 56px;
    border: none;
    border-radius: 40px;
    background-color: #3692FF;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}
.img_banner_top{
    width: 996px;
    height: 447px;
    padding-top: 93px;
    padding-right: 701px;;
}
/*Bottom banner*/
.banner_bottom_info{
    width: 290px;
    height: 112px;
    font-size: 40px;
    font-weight: 700;
    color: #374151;
}
.img_banner_bottom{
    width: 996px;
    height: 540px;
    padding-right: 701px;
}
/*section style*/
.section{
    padding-left: 360px;
    padding-right: 360px;
}
.section_container{
    height: 720px;
}
.section_item_container{
    width: 955px;
    height: 444px;
    display: flex;
}
.img_section{
    width: 588px;
    height: 444px;
    margin-top: 137.5px;
    margin-bottom: 137.5px;
}
.section_text_wrapper{
    width: 303px;
    height: 231px;
    gap: 12px;
    margin-top: 137.5px;
    margin-left: 64px;
}
.section_text_tag{
    font-size: 18;
    font-weight: 700;
    color: #3692FF;
}
.section_text_title{
    font-size: 40;
    font-weight: 700;
    color: #374151;
}
.section_text_title_small{
    font-size: 24;
    font-weight: 500;
    color: #374151;
}
/* footer style */
.footer{
    height: 160px;
    width: 100%;
    background-color: #111827;
    padding: 32px, 200px, 32px, 200px
}
.footer_container{
    display: flex;
    justify-content: space-between;
    width: 1520px;
    height: 20px;
}
.footer_item_left{
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
}
.footer_item_center span{
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 400;
}
.footer_item_center{
    display: flex;
    justify-content: space-between;
}
.footer_item_sns img{
    width: 20px;
    height: 20px;
}
.footer_item_sns{
    gap: 1px;
}