:root {
  --blue: #3692ff;
}

* {
  box-sizing: border-box;
}

/* 이미지+div 태그가 아닌 button태그로 통일하기위한 수정 */

/* header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header p {
  font-weight: 700;
  font-size: 66.34px;
  line-height: 89.56px;
  color: var(--blue);
}
header a {
  text-decoration: none;
  color: var(--blue);
}

header img {
  width: 103.53px;
  height: 103.88px;
  margin-right: 15px;
} */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

header .top-logo {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: none;
  width: 396px;
  height: 132px;
}

header .top-logo div {
  font-weight: 700;
  font-size: 66.34px;
  line-height: 89.56px;
  color: var(--blue);
}

header .top-logo img {
  width: 103.53px;
  height: 103.88px;
  margin-right: 10px;
}

.top-logo:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  height: 430px;
}
form {
  width: 100%;
}

label {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
}

.for-submit {
  display: block;
  background-color: #9ca3af;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  padding: 16px, 124px, 16px, 124px;
  width: 100%;
  height: 56px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.for-submit:hover {
  background-color: var(--blue);
  cursor: pointer;
}

.easy-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6f2ff;
  width: 100%;
  height: 74px;
  border-radius: 8px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.easy-login-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1f2937;
}

.easy-login img {
  width: 42px;
  height: 42px;
  top: 10px;
  left: 10px;
  gap: 0px;
  opacity: 0px;
  margin-right: 10px;
}
.easy-login img:hover {
  cursor: pointer;
}

form input {
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  width: 100%;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.join {
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 17.9px;
  color: #1f2937;
}

.join a {
  color: var(--blue);
}

input:focus {
  /* border:none 이기 때문에 outline으로 focus 색상 설정 */
  outline-color: var(--blue);
}

input:focus::placeholder {
  opacity: 0;
}
