@use 'sass:color';
@use '@/styles/mixins' as m;

.commonButton {
  @include m.flexbox;
  white-space: nowrap;
  transition: 0.2s;

  &:disabled {
    opacity: 0.4;
  }

  &.skyBlue {
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
  }
}
