* {
  box-sizing: border-box;
}

.register-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.file-input-label {
  display: block;

  background-image: url(../../assets/images/file-input-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.file-input-title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 16px;
}

#input-file {
  display: none;
}

.img-preview {
  width: 282px;
  height: 282px;
  border-radius: 12px;
}

.file-img-container {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.input {
  display: block;
  border-radius: 12px;
  border-style: none;
  background-color: #f3f4f6;
  padding-left: 24px;
  height: 56px;
}

.input.description {
  height: 200px;
  padding-bottom: 160px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.box.tag {
  margin-bottom: 170px;
}
