header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.header__img-logo {
  width: 396px;
  height: 132px;
}
main {
  padding: 40px;
  display: flex;
  justify-content: center;
}
.input__container {
  display: flex;
  flex-direction: column;
}
.input__item-container {
  display: flex;
}
.input__item-container img {
  width: 24px;
  height: 24px;
}
label {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray800);
  margin-bottom: 16px;
}
input {
  width: 640px;
  height: 56px;
  border-radius: 12px;
  background-color: var(--gray100);
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400px;
  display: flex;
  justify-content: center;
  padding-left: 24px;
  margin-bottom: 24px;
  border: none;
}
input:focus {
  outline-color: var(--blue);
}
.button {
  background-color: var(--gray400);
  border-radius: 40px;
  border: none;
  width: 640px;
  height: 56px;
  font-size: 20px;
  font-weight: 600px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sns-login-container {
  background-color: #e6f2ff;
  width: 640px;
  height: 74px;
  border: none;
  border-radius: 8px;
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.sns-login-container p {
  font-size: 16px;
  font-weight: 500px;
  color: var(--gray800);
}
.icon-sns {
  gap: 8px;
}
.img-sns {
  width: 24px;
  height: 24px;
}
.auth-switch-container {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}
.auth-switch-container a {
  font-size: 15px;
  font-weight: 500;
  color: var(--blue);
}
