.BestProductList {
  width: 1300px;
  margin: 0 auto;
  padding: 0 100px;
}

.BestProductList-container {
  height: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.BestProductList-title {
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.BestProductList-mobile-title {
  display: none;
}

.BestProductListItem-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 11px;
}

.BestProductListItem-info {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.BestProductListItem-price {
  font-weight: Bold;
}

.BestProductListItem-favorite {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-size: 11px;
}

.BestProductList-top-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-right: 130px;
}

.BestProductList-controll-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.BestProductList-search-input {
  background-color: var(--gray100-color);
  border-radius: 7px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.BestProductList-search-input input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  width: 200px;
  height: 100%;
}

.BestProductList-controll-section select {
  border-radius: 7px;
}

.BestProductList-btn-register-prod {
  font-family: "Pretendard";
  font-weight: 300;
  background-color: var(--blue-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 7px;
  width: 133px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

/* Tablet */
@media (max-width: 1200px) {
  .BestProductList {
    width: 750px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .BestProductList-container {
    height: 300px;
  }

  .BestProductList-mobile-title {
    display: block;
  }

  .BestProductList-pc-title {
    display: none;
  }

  .BestProductListItem-img {
    width: 330px;
    height: 330px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .BestProductList {
    width: 450px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .BestProductList-container {
    height: 400px;
  }

  .BestProductList-top-section {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .BestProductList-btn-register-prod {
    position: absolute;
    top: -15px;
    right: 0px;
  }

  .BestProductList-controll-section {
    width: 420px;
    height: 42px;
    margin-top: 10px;
  }

  .BestProductList-search-input {
    width: 100%;
  }

  .BestProductList-search-input input {
    width: 100%;
  }

  .BestProductListItem-img {
    width: 435px;
    height: 435px;
  }
}
