@import '/src/styles/Color.css';

/* sprint3 - 모바일 사이즈 일때 '구경하러 가기' 버튼 사이즈 줄어들게 */
@media (max-width: 767px) {
  .btn-shop {
    height: 48px;
    width: 50%;
    font-size: 16px;
    padding: 16px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
