* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

body {
  color: var(--gray700);
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

main {
  margin: 94px auto;
  width: 1200px;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: White;
  border-bottom: 1px solid var(--solid-gray);

  flex-wrap: wrap;
}

.button {
  background-color: var(--blue);
  color: White;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}

.button:hover {
  background-color: var(--hover-blue);
}

.button:focus {
  background-color: var(--focus-blue);
}

.button:disabled {
  background-color: var(--gray400);
  cursor: default;
  pointer-events: none;
}

.blue-button.button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 23px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  border-radius: 16px;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--blue);
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  main {
    width: 100%;
    padding: 0 24px;
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  main {
    width: 100%;
    padding: 0 16px;
  }
}

textarea {
  resize: none;
}
