.pagination {
  display: flex;
  gap: 5px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--gray200-color);
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 15px;
  color: var(--gray500-color);
  background-color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
}

.pagination button.btn-prev,
.pagination button.btn-next,
.pagination button.btn-prev:hover,
.pagination button.btn-next:hover {
  color: var(--gray200-color);
  background-color: white;
  box-shadow: none;
  cursor: default;
}

.pagination button:hover,
.pagination button:active,
.pagination button:focus,
.pagination button:target,
.pagination button.btn-focus {
  background-color: var(--light-blue-color);
  box-shadow: -1px 17px 22px -14px rgba(0, 0, 0, 0.75);
}

.pagination-selected-item {
  background-color: var(--light-blue-color);
  box-shadow: -1px 17px 22px -14px rgba(0, 0, 0, 0.75);
}

.pagination button.btn-disabled,
.pagination button.btn-disabled:hover {
  color: var(--gray200-color);
  background-color: white;
  box-shadow: none;
  cursor: default;
}
