.product-controller {
  width: 1200px;
  margin: 0 auto;
  padding-right: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.title {
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 20px;
}

.mobile-title {
  display: none;
}

.control-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-input {
  background-color: var(--gray100-color);
  border-radius: 7px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.search-input input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  width: 200px;
  height: 100%;
}

.control-section select {
  border-radius: 7px;
}

.btn-register-prod {
  font-family: "Pretendard";
  font-weight: 300;
  background-color: var(--blue-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 7px;
  width: 133px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

/* Tablet */
@media (max-width: 1200px) {
  .product-controller {
    width: 750px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 110px;
  }

  .mobile-title {
    display: block;
  }

  .pc-title {
    display: none;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .product-controller {
    width: 420px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 110px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .btn-register-prod {
    position: absolute;
    top: -15px;
    right: 0px;
  }

  .control-section {
    width: 420px;
    height: 42px;
    margin-top: 10px;
  }

  .search-input {
    width: 100%;
  }

  .search-input input {
    width: 100%;
  }
}
