.product-list {
  width: 1300px;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-list .container {
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 20px;
  margin-bottom: 100px;
}

.product-list .title {
  font-family: 'Pretendard';
  font-weight: bold;
  font-size: 20px;
}

.product-list mobile-title {
  display: none;
}

.product-list .imgbox {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 11px;
}

.product-list .info {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-list .price {
  font-weight: Bold;
}

.product-list .favorite {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-size: 11px;
}

/* Tablet */
@media (max-width: 1200px) {
  .product-list {
    width: 750px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .product-list .mobile-title {
    display: block;
  }

  .product-list .pc-title {
    display: none;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .product-list {
    width: 450px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
