.input-search {
  width: 325px;
  height: 42px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  background-image: url("/src/assets/ic_search.svg");
  background-repeat: no-repeat;
  background-position: 16px 9px;
  background-size: 24px 24px;
  padding-left: 44px;
  background-color: var(--gray-100);
  color: var(--gray-400);
  border: none;
  /* padding: 9px 20px; */
  border-radius: 12px;
}
