/* header style */
.header__logo {
  width: 153px;
  height: 51px;
  &:hover {
    cursor: pointer;
  }
}
.header__button {
  width: 128px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: var(--blue);
  border-radius: 8px;
  /* text 가운데 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
  /* 화면크기 축소될 때 글자깨짐 방지 */
  flex-shrink: 0;
}
/* width크기가 744px 넘어갈 때 */
@media (min-width: 744px) {
  header {
    margin-right: 200px;
    margin-left: 200px;
  }
}
@media (min-width: 375) {
  header {
    margin-right: 24px;
    margin-left: 24px;
  }
}
main {
  background-color: #ffffff;
  height: 2160px;
}
footer {
  width: 100%;
  height: 160px;
  background-color: var(--gray900);
}
