:root{
  /* btn-bg-color */
  --btn-bg-color-default: #3692FF;
  --btn-bg-color-hover: #1967D6;
  --btn-bg-color-click: #1251AA;
  --btn-bg-color-inactive: #9CA3AF;
  
  /* text-color */
  --text-color-cool-gray: #374151;
  --text-color-white: #FFFFFF;
  --text-color-blue: #3692FF;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--btn-bg-color-default);
  color: var(--text-color-white);
  cursor: pointer;
}

.btn_small{
  width: 128px;
  height: 48px;
  /* padding: 12px 20px; */
  border-radius: 8px;
  font: 600 16px / 19.09px Pretendard;
}

.btn_large{
  width: 355px;
  height: 56px;
  /* padding: 16px 124px; */
  border-radius: 40px;
  font: 600 20px / 24px Pretendard;
}

.h2_title{
  font: 700 40px / 56px Pretendard;  
  color: var(--text-color-cool-gray);
}

.p_description {
  font: 500 24px / 28.8px Pretendard;  
  letter-spacing: 0.08em;
}

.bg_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  background: #CFE5FF no-repeat right 223px bottom;
  background-size: 55%;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 200px;
  border-bottom: 1px solid #DFDFDF;
}

.header-home__wrapper {
  background-image: url(image-resources/Group\ 33680.png);
}

.header-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  height: 200px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section__wrapper {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 720px;
}

.main-section {
  display: flex;
  align-items: center;
  gap: 64px;
}

.main-section__img {
  border: 1px solid #3692FF;
  border-radius: 12px;
}

.feature__keyword {
  margin-bottom: 12px;
  font: 700 18px / 25.2px Pretendard;  
  color: var(--text-color-blue);
}

.feature__title {
  margin-bottom: 24px;
  letter-spacing: 2%;
}

.feature__description {
  letter-spacing: 8%;
}

.main-section__wrapper__reverse{
  justify-content: flex-end;
}

.main-section__reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.main-footer__wrapper {
  width: 100%;
  margin-top: 138px;
  background-image: url(image-resources/Img_home_bottom.png);
}

.main-footer {  
  display: flex;
  align-items: center;
  width: 1200px;
}

footer {
  height: 160px;
  padding: 32px 200px;
  background: #111827;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font: 400 16px / 19.09px Pretendard;
  color: #9CA3AF;
}

.info {
  display: flex;
  gap: 30px;
  font: 400 16px / 19.09px Pretendard;
}

.info a{
  color: #E5E7EB;
}

.contact-list {
  display: flex;
  gap: 12px;
  list-style: none;
}

.contact-list a{
  font: 400 16px / 19.09px Pretendard;
  color: var(--text-color-white);
}