@use '@/styles/mixins' as m;

.boardPage {
  font-family: 'Pretendard';
  width: 1200px;
  margin: 0 auto;

  @include m.before(Tablet) {
    width: auto;
    margin: 0 24px;
  }

  @include m.before(Mobile) {
    width: auto;
    margin: 0 16px;
  }

  .header {
    .title {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 24px;
    }
  }

  .bestArticles {
    margin-bottom: 40px;
    .aticleContainer {
      @include m.flexbox;
      gap: 24px;
    }
  }

  .normalArticles {
    @include m.flexbox(center, normal);
    flex-direction: column;
    gap: 24px;
    .header {
      @include m.flexbox(between, center);
      .btnWrite {
        width: 88px;
        height: 42px;
      }
    }
    .controlBar {
      @include m.flexbox(between, center);
      gap: 16px;
    }
    .aticleContainer {
      @include m.flexbox(center, normal);
      flex-direction: column;
      gap: 24px;
    }
  }
}

// @media (max-width: 1200px) {
//   .boardPage {
//     width: 100%;
//     margin: 0 24px;
//   }
// }
