.bestPostContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 24px;
}

.postSubject {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
}

.postWrapper {
  height: 169px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.postContentWrapper {
  width: 100%;
  height: 169px;
  padding: 0 24px 16px 24px;
  background-color: #f9fafb;
  border-radius: 8px;
}

.postContent {
  width: 336px;
  height: 153px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.postInfo {
  padding: 16px 0 18px 0;
  display: flex;
  justify-content: space-between;
}

.postTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 23.87px;
  text-align: left;
  text-decoration: none;
  color: #1f2937;
}

.postImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 6px;
}

.postImgContainer.imgPresent {
  border: 1px solid #e5e7eb;
}

.postImgContainer.imgAbsent {
  display: none;
}

.postImg {
  min-width: 72px;
  left: 264px;
  padding: 13.71px 12px;
  gap: 0px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}

.postDetails {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  bottom: 16px;
}

.postMeta {
  display: flex;
  gap: 8px;
}

.nickname {
  text-align: left;
  color: #4b5563;
}

.likeCount {
  display: flex;
  gap: 4px;
  color: #6b7280;
}

.createdAt {
  color: #9ca3af;
}

@media screen and (max-width: 1280px) {
  .postWrapper {
    /* justify-content: space-between; */
    gap: 16px;
  }
  .postContentWrapper {
    width: 340px;
    height: 167px;
  }
  .postContent {
    width: 292px;
  }
}

@media screen and (max-width: 743px) {
}
