.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.large {
  font-size: 20px;
  padding: 16px 124px;
}

.small {
  font-size: 16px;
  line-height: 19px;
  padding: 11.5px 23px;
  border-radius: 8px;
}

.default {
  background-color: #3692ff;
}

.default:hover {
  background-color: #1967d6;
}

.default:active {
  background-color: #1251aa;
}

.icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .large {
    font-size: 16px;
    padding: 16px 20px;
    width: 154px;
  }
}
