.Dropdown-wrapper {
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Dropdown-select{
  width:100%;
  height:100%;
  border:none;
  background-color: unset;
  appearance: none;
  background-image: url('../public/arrow_down.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right 1px center;
}
.Dropdown-option {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1f2937;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .Dropdown-select{
    width:24px;
    height:24px;
    background-image: url('../public/sort.svg');
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    text-indent:-999px;
  }
}