.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdownToggle {
  height: 42px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 12px 20px;
  background-color: #ffffff;
  font-size: 16px;
  color: #1f2937;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  cursor: pointer;
}

.isMobileDropdown {
  display: flex;
}

.isNonMobileDropdown {
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: center;
}

.dropdownIcon {
  display: flex;
}

.toggleIcon {
  margin-left: 8px;
}

.dropdownMenu {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1;
}

.dropdownMenu li:first-child {
  border-bottom: 1px solid #e5e7eb;
}

.dropdownItem {
  color: #1f2937;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownItem:hover {
  background-color: #ddd;
}

@media screen and (max-width: 1280px) {
  .dropdownToggle {
    /* width: 120px; */
  }
}

@media screen and (max-width: 743px) {
  .dropdown {
    width: 42px;
    height: 42px;
  }
}
