.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
  white-space: nowrap;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 47px;
}

.nav-container .logo {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-container .logo img {
  display: block;
  width: 153px;
  height: 51px;
}

.nav-container li {
  display: inline-block;
  margin-right: 39px;
  color: #4b5563;
  font-size: 18px;
  font-weight: 700;
}

.nav-container li:last-child {
  margin-right: 0;
}

.nav-container li > .link {
  color: #4b5563;
  text-decoration: none;
}

.login-btn {
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #3692ff;
  cursor: pointer;
}

/* PC */
@media screen and (min-width: 1200px) {
  .header {
    padding: 0px 200px;
  }

  .nav-container .logo .logo-m {
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 0px 24px;
  }

  .nav-container {
    gap: 35px;
  }

  .nav-container .logo .logo-m {
    display: none;
  }
}

/* Mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .header {
    padding: 0px 16px;
  }

  .nav-container {
    gap: 16px;
  }

  .nav-container .logo img {
    width: 81px;
    height: 27px;
  }

  .nav-container .logo .logo-pt {
    display: none;
  }

  .nav-container li {
    margin-right: 8px;
    font-size: 16px;
  }
}
