.header {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 2;
  border: 1px solid #dfdfdf;
  top: 0;
  background-color: white;
}

.header-logo {
  width: 153px;
  height: 100%;
}

.header-box {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 200px;
  padding-top: 10px;
}

.boards {
  display: flex;
  width: 100%;
  padding: 0 32px;
  gap: 40px;
}

.board {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.a {
  text-decoration: none;
  color: inherit;
}

.large-button {
  border-radius: 40px;
  border: 1px solid #3692ff;
  background-color: #3692ff;
  padding: 16px 124px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.large-button:hover {
  background-color: #1967d6;
}

.large-button:active {
  background-color: #1251aa;
}

.large-button:disabled {
  background-color: #9ca3af;
  border: 1px solid;
}

.small-button {
  border: none;
  border-radius: 8px;
  background-color: #3692ff;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 128px;
  height: 48px;
  color: #ffffff;
  display: inline-block;
}

.small-button:hover {
  background-color: #1967d6;
}

.small-button:active {
  background-color: #1251aa;
}

.small-button:disabled {
  background-color: #9ca3af;
  border: 1px solid;
}

.input:focus {
  outline-color: #3692ff;
}

@media (max-width: 1199px) {
  .header-box {
    margin: 0 24px;
  }
}
