.searchForm {
  width: 100%;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  margin: 0 4px 0 16px;
}

.searchBar {
  width: 1054px;
  height: 42px;
  padding: 9px 20px;
  padding-left: 44px;
  gap: 10px;
  border: none;
  border-radius: 12px;
  outline: none;
  background-color: #f3f4f6;
}

.searchBar::placeholder {
  color: #9ca3af;
}

@media screen and (max-width: 1280px) {
  .searchBar {
    width: 560px;
  }
}

@media screen and (max-width: 743px) {
  .searchBar {
    width: 100%;
  }
}
