@import '@assets/styles/Color.css';

.header__tab-list {
  list-style: none;
  width: 109px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-600);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
}

.active a {
  color: var(--main-color);
}

@media (max-width: 767px) {
  .header__tab-list {
    width: 72px;

    font-size: 16px;
  }
}
