@use 'sass:list';

@mixin posCenterX($position: absolute) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posCenterY($position: absolute) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin posCenter($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
