:root {
	--red: #f74747;
	--white: #ffffff;

	--cool-grey-50: #f7f7f8;
	--cool-grey-100: #e8ebed;
	--cool-grey-200: #e5e7eb;
	--cool-grey-400: #9ea4a8;
	--cool-grey-500: #72787f;
	--cool-grey-600: #454c53;
	--cool-grey-700: #374151;
	--cool-grey-800: #26282b;
	--cool-grey-900: #111827;

	--color-primary: #3692ff;

	--border-color-grey: #dfdfdf;

	--background-solid: var(--white);
	--background-visual: #cfe5ff;

	--color-hover: #1967d6;
	--color-active: #1251aa;
	--color-disabled: var(--cool-grey-400);
	--color-error: var(--red);

	--text-primary: var(--cool-grey-700);
	--text-button: var(--white);
	--text-link: #3182f6;

	--header-height: 70px;
	--footer-height: 160px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	min-width: 320px;
	min-height: 100vh;
	font-size: 100%;
}

body {
	background-color: var(--background-solid);
	color: var(--text-primary);
	font-family: 'Pretendard', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.inner {
	margin: 0 auto;
}

/* header */
#header {
	position: sticky;
	z-index: 999;
	top: 0;
	border-bottom: 1px solid var(--border-color-grey);
	background-color: var(--background-solid);
	width: 100vw;
	height: var(--header-height);
	padding: 0 200px;
}

#header .inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	transition: padding 0.16s;
}

.header__logo a {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	line-height: 1;
}

.header__logo a img {
	display: block;
	height: 56px;
}

.header__buttons a {
	position: relative;
}

/* container */
#container {
	position: relative;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#container .inner {
	max-width: 1200px;
}

/* footer */
#footer {
	background-color: var(--cool-grey-900);
	width: 100vw;
	height: var(--footer-height);
	padding: 32px 200px;
}

#footer .inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	text-align: center;
}

.copyright {
	line-height: 1;
	color: var(--cool-grey-400);
}

.guide,
.sns_link {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.guide {
	gap: 30px;
}

.guide a {
	line-height: 1;
	color: var(--cool-grey-200);
	cursor: pointer;
}

.sns_link {
	gap: 12px;
}

.sns_link a,
.sns_link img {
	display: block;
}

.sns_link img {
	height: 20px;
}

/* Desktop */
@media screen and (min-width: 1200px) {
	.inner {
		padding: 0 16px;
	}
}

/* Tablet */
@media screen and (max-width: 1199px) {
	#header {
		padding: 0 24px;
	}

	#footer {
		padding: 32px 104px 64px;
	}
}

/* Mobile */
@media screen and (max-width: 767px) {
	#header {
		padding: 0 16px;
	}

	#footer {
		padding: 32px;
	}

	#footer .inner {
		position: relative;
		flex-wrap: wrap;
	}

	.copyright {
		position: absolute;
		bottom: 0;
	}
}
