@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@font-face {
	font-family: 'ROKAFSansMedium';
	font-style: normal;
	font-weight: 500;
	src: url('../font/ROKAFSans/ROKAFSansMedium.otf') format('off');
}

@font-face {
	font-family: 'ROKAFSansBold';
	font-style: normal;
	font-weight: 700;
	src: url('../font/ROKAF-Sans/ROKAFSansBold.otf') format('off');
}
