input {
	outline: none;
	border: 1px solid transparent;
	border-radius: 12px;
	padding: 16px 40px;
	min-height: var(--form-min-height);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	background-color: var(--cool-grey-100);
	color: var(--cool-grey-800);
}

input::placeholder {
	color: var(--cool-grey-400);
}

input:focus {
	border-color: var(--color-primary);
}

input.error {
	border-color: var(--color-error);
}

p.error {
	color: var(--color-error);
}

.input-box {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 8px;
}

.input-box label {
	line-height: 1.6;
}

.input-box input {
	position: relative;
	z-index: 1;
	width: 100%;
}

.input-box > div {
	position: relative;
}

.btn {
	appearance: none;
	-webkit-appearance: none;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 8px;
	padding: 16px 20px;
	min-height: var(--form-min-height);
	background-color: var(--color-primary);
	color: var(--text-button);
	font-size: 1rem;
	font-weight: 600;
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.16s;
}

.btn:hover {
	background-color: var(--color-hover);
}

.btn:active {
	background-color: var(--color-active);
}

.btn[disabled] {
	background-color: var(--color-disabled);
}

.btn.btn_small {
	min-width: 128px;
	min-height: var(--form-min-height-small);
}

.btn.btn_large {
	border-radius: 9999px;
	min-width: 360px;
	font-size: 1.25rem;
}

.btn_visibility {
	position: absolute;
	z-index: 8;
	top: 8px;
	right: 8px;
	display: flex;
	align-items: center;
	padding: 8px;
	border: none;
	background: transparent;
}

@media screen and (max-width: 1199px) {
	/* Tablet */
}

@media screen and (max-width: 767px) {
	/* Mobile */
	input {
		padding: 16px 24px;
	}

	.btn.btn_small {
		min-width: 80px;
	}

	.btn.btn_large {
		min-width: 160px;
	}
}
