:root {
	--white: #ffffff;

	--cool-grey-50: #f7f7f8;
	--cool-grey-100: #e8ebed;
	--cool-grey-200: #e5e7eb;
	--cool-grey-400: #9ea4a8;
	--cool-grey-500: #72787f;
	--cool-grey-600: #454c53;
	--cool-grey-700: #374151;
	--cool-grey-800: #26282b;
	--cool-grey-900: #111827;

	--red: #f74747;

	--color-primary: #3692ff;

	--border-color-grey: #dfdfdf;

	--background-solid: var(--white);
	--background-visual: #cfe5ff;

	--color-hover: #1967d6;
	--color-active: #1251aa;
	--color-disabled: #9ca3af;

	--text-primary: var(--cool-grey-700);
	--text-button: var(--white);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	min-width: 320px;
	min-height: 100vh;
	font-size: 16px;
}

body {
	background-color: var(--background-solid);
	color: var(--text-primary);
	font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	font-size: 1rem;
}

.inner {
	margin: 0 auto;
}

*[class^='btn'] {
	appearance: none;
	-webkit-appearance: none;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 8px;
	padding: 12px 20px;
	background-color: var(--color-primary);
	color: var(--text-button);
	font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.16s;
	&:hover {
		background-color: var(--color-hover);
	}
	&:active {
		background-color: var(--color-active);
	}
	&[disabled] {
		background-color: var(--color-disabled);
	}
}

*.btn_small {
	min-width: 128px;
	min-height: 48px;
	font-size: 16px;
}

*.btn_large {
	border-radius: 9999px;
	min-width: 355px;
	min-height: 56px;
	font-size: 20px;
}

#header {
	position: sticky;
	z-index: 999;
	top: 0;
	border-bottom: 1px solid var(--border-color-grey);
	background-color: var(--background-solid);
	width: 100vw;
	height: 70px;
	& .inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		max-width: 1920px;
		padding: 0 200px;
	}
	& .header__logo {
		& a {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			& img {
				display: block;
			}
		}
	}
	& .header__buttons {
		& a {
			position: relative;
		}
	}
}

#container {
	& .inner {
		max-width: 1200px;
	}
	& .visual {
		height: 540px;
		background-color: var(--background-visual);
		& .inner {
			position: relative;
			z-index: 1;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: flex-start;
			gap: 32px;
			height: 100%;
		}
		& p {
			position: relative;
			z-index: 1;
			font-size: 40px;
			font-weight: 700;
			line-height: 1.4;
		}
		& img {
			position: absolute;
			z-index: -1;
			right: 0;
			bottom: 0;
			margin-right: -120px;
		}
	}

	& .introduce {
		& article {
			height: 720px;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;
			gap: 64px;
			& div {
				display: flex;
				flex-flow: column wrap;
				justify-content: center;
				align-items: flex-start;
				gap: 12px;
				text-align: left;
				& b {
					font-size: 18px;
					font-weight: 700;
					line-height: 1.4;
					color: var(--color-primary);
				}
				& h5 {
					font-size: 40px;
					font-weight: 700;
					line-height: 1.4;
				}
				& p {
					font-size: 24px;
					font-weight: 500;
					line-height: 1.2;
				}
			}
		}
		& article:nth-child(2n) {
			flex-direction: row-reverse;
			& div {
				align-items: flex-end;
				text-align: right;
			}
		}
	}
}

#footer {
	background-color: var(--cool-grey-900);
	width: 100vw;
	height: 160px;
	& .inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		height: 100%;
		max-width: 1920px;
		padding: 32px 200px;
	}
	& .copyright {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		text-align: center;
		color: var(--cool-grey-400);
	}
	& .guide {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		gap: 30px;
		& a {
			font-size: 16px;
			font-weight: 400;
			line-height: 1.2;
			text-align: center;
			color: var(--cool-grey-200);
			cursor: pointer;
		}
	}
	& .sns_link {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}
}
