:root {
	--red: #f74747;
	--white: #ffffff;

	--cool-grey-50: #f7f7f8;
	--cool-grey-100: #e8ebed;
	--cool-grey-200: #e5e7eb;
	--cool-grey-400: #9ea4a8;
	--cool-grey-500: #72787f;
	--cool-grey-600: #454c53;
	--cool-grey-700: #374151;
	--cool-grey-800: #26282b;
	--cool-grey-900: #111827;

	--color-primary: #3692ff;

	--border-color-grey: #dfdfdf;

	--background-solid: var(--white);
	--background-visual: #cfe5ff;

	--color-hover: #1967d6;
	--color-active: #1251aa;
	--color-disabled: #9ca3af;
	--color-error: var(--red);

	--text-primary: var(--cool-grey-700);
	--text-button: var(--white);
	--text-link: #3182f6;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	min-width: 320px;
	min-height: 100vh;
	font-size: 100%;
}

body {
	background-color: var(--background-solid);
	color: var(--text-primary);
	font-family: 'Pretendard', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.inner {
	margin: 0 auto;
	padding: 0 16px;
}

input {
	outline: none;
	border: 1px solid transparent;
	border-radius: 12px;
	min-height: 56px;
	padding: 16px 40px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	background-color: var(--cool-grey-100);
	color: var(--cool-grey-800);
}

input::placeholder {
	color: var(--cool-grey-400);
}

input:focus {
	border-color: var(--color-primary);
}

input.error {
	border-color: var(--color-error);
}
.input-box {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 8px;
}
.input-box label {
	line-height: 1.6;
}
.input-box input {
	position: relative;
	z-index: 1;
	width: 100%;
}
.input-box > div {
	position: relative;
}

.btn {
	appearance: none;
	-webkit-appearance: none;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 8px;
	padding: 12px 20px;
	background-color: var(--color-primary);
	color: var(--text-button);
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.2;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.16s;
}
.btn:hover {
	background-color: var(--color-hover);
}
.btn:active {
	background-color: var(--color-active);
}
.btn[disabled] {
	background-color: var(--color-disabled);
}

.btn.btn_small {
	min-width: 128px;
	min-height: 48px;
}
.btn.btn_large {
	border-radius: 9999px;
	min-width: 360px;
	min-height: 56px;
	font-size: 1.25rem;
}

.btn_visibility {
	position: absolute;
	z-index: 8;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	padding: 8px;
	border: none;
	background: transparent;
}

/* header */
#header {
	position: sticky;
	z-index: 999;
	top: 0;
	border-bottom: 1px solid var(--border-color-grey);
	background-color: var(--background-solid);
	width: 100vw;
	height: 70px;
}
#header .inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	padding: 0 200px;
	transition: padding 0.16s;
}
.header__logo a {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	line-height: 1;
}
.header__logo a img {
	display: block;
}
.header__buttons a {
	position: relative;
}

/* container */
#container {
	position: relative;
}
#container .inner {
	max-width: 1200px;
}

/* footer */
#footer {
	background-color: var(--cool-grey-900);
	width: 100vw;
	height: 160px;
	padding: 32px 200px;
}
#footer .inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	text-align: center;
}
.copyright {
	line-height: 1;
	color: var(--cool-grey-400);
}
.guide,
.sns_link {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.guide {
	gap: 30px;
}
.guide a {
	line-height: 1;
	color: var(--cool-grey-200);
	cursor: pointer;
}
.sns_link {
	gap: 12px;
}
.sns_link a,
.sns_link img {
	display: block;
}

/* main page */
.visual {
	height: 540px;
	background-color: var(--background-visual);
}
.visual .inner {
	position: relative;
	z-index: 1;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
	height: 100%;
}
.visual p {
	position: relative;
	z-index: 1;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.4;
}
.visual img {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
	margin-right: -120px;
}

.introduce article {
	height: 720px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 64px;
}
.introduce article div {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 12px;
	text-align: left;
}
.introduce article div b {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.4;
	color: var(--color-primary);
}
.introduce article div h5 {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.4;
}
.introduce article div p {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.introduce article:nth-child(2n) {
	flex-direction: row-reverse;
}
.introduce article:nth-child(2n) div {
	align-items: flex-end;
	text-align: right;
}

/* login & sign */
#signupPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 16px;
	min-height: 100vh;
}

.login {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
}

.login__head {
	display: flex;
	justify-content: center;
	align-items: center;
}
.login__head a,
.login__head img {
	display: block;
}
.login__head img {
	height: auto;
	max-width: 100%;
	max-height: 132px;
}

.login__body form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 24px;
}

.login-external {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	padding: 16px 24px;
	background-color: #e6f2ff;
}
.login-external h6 {
	font-weight: 500;
}

.external-sites {
	display: flex;
	align-items: center;
	gap: 16px;
}

.external-sites a,
.external-sites img {
	display: block;
}

.login__signup {
	margin-top: 24px;
	text-align: center;
}
.login__signup p {
	font-weight: 500;
	color: var(--cool-grey-800);
}
.login__signup a {
	color: var(--text-link);
	text-decoration: underline;
}

@media screen and (max-width: 1199px) {
	/* Tablet */

	#header .inner {
		padding: 0 24px;
	}
	.visual .inner {
		justify-content: flex-start;
		align-items: center;
		gap: 24px;
	}
	.visual img {
		inset: auto;
		bottom: 0;
		margin: 0 auto;
	}
	.visual--top {
		height: 770px;
	}
	.visual--top p {
		margin-top: 80px;
	}
	.visual--top p br {
		display: none;
	}
	.visual--bottom {
		height: 932px;
	}
	.visual--bottom p {
		margin-top: 200px;
		text-align: center;
	}
	.introduce article {
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		margin: 24px;
		margin-bottom: 80px;
		height: auto;
	}
	.introduce article:nth-child(2n) {
		flex-direction: column;
		align-items: flex-end;
	}
	.introduce article img {
		width: 100%;
	}
	.introduce article div h5 {
		font-size: 2rem;
	}
	.introduce article div h5 br {
		display: none;
	}
	.introduce article div p {
		font-size: 1.125rem;
	}
	#footer {
		padding: 32px 104px 64px;
	}
}

@media screen and (max-width: 767px) {
	/* Mobile */
	.btn {
		padding: 16px 20px;
	}
	.btn.btn_large {
		min-width: 160px;
	}
	#header .inner {
		padding: 0 16px;
	}
	.visual {
		height: 540px;
	}
	.visual p {
		font-size: 2rem;
		text-align: center;
	}
	.visual p br {
		display: initial;
	}
	.visual img {
		height: 280px;
	}
	.visual--top p {
		margin-top: 48px;
	}
	.visual--bottom p {
		margin-top: 120px;
	}
	.introduce article {
		margin-top: 48px;
	}
	.introduce article div b,
	.introduce article div p {
		font-size: 1rem;
	}
	.introduce article div h5 {
		font-size: 1.5rem;
	}
	#footer {
		padding: 32px;
	}
	#footer .inner {
		position: relative;
		flex-wrap: wrap;
	}
	.copyright {
		position: absolute;
		bottom: 0;
	}

	/* 회원가입, 로그인 페이지 */
	.login {
		max-width: 400px;
	}
	.login__head img {
		max-height: 64px;
	}
}
