.main_container {
  width: 120rem;
  margin: 2.9rem auto;
}

.main_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.top_label,
.product_add__label {
  font-weight: 700;
  color: var(--gray-800);
}

.top_label {
  font-size: 2.8rem;
}

.top_add_button {
  background-color: var(--login-normal-blue);
  border: none;
  border-radius: 0.8rem;
  width: 8.8rem;
  height: 4.2rem;
  color: var(--login-normal-font-color);
  font-size: 1.6rem;
  font-weight: 600;
}

.top_add_button:disabled {
  background-color: var(--gray-400);
}

.product_add__label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
