ul {
  display: flex;
}
.item-box {
  width: 100%;
}

.item-img {
  width: 100%;
  height: auto;
  border-radius: 16px;

}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 16px;
  font-weight: 500;
}

.item-price {
  font-size: 16px;
  font-weight: 700;
}

.item-favorite-count {
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
}

.h1 {
  font-weight: 700px;
  font-size: 20px;
  color: #1f2937;
}

.container-items {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.all-items {
  display: flex;
}

.all-items.items {
  width: 20px;
  gap: 24px;
}
