@import url('colorSet.css');
@import url('easyRem.css');
@import url('fontPretendard.css');

.input-set-container {
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px 0;
}

.input-set-title {
  font-weight: 700;
  font-size: 1.8rem;
  color: #1F2937;
}

.input-set-content {
  background-color: var(--gray100);
  padding: 16px 20px;
  font-weight: 400;
  font-size: 1.6rem;
  color: #1F2937;
  border: 0; 
  border-radius: 12px;
}

.input-set-content::placeholder {
  color: var(--gray400);
}

.input-set-content:focus {
  outline: 1px solid var(--blue);
}