#style.css
body{
    margin: 0;

}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-left: 200px;
    margin-right: 200px;

    
}


.main-background{
    display: flexbox;
    background-color: #CFE5FF;
    background-size: cover;
    width: auto;
}

.main-width{
    justify-content: center;
    width: 1920px;
    margin: auto;
}

#img-main{

    z-index: 1;
    width: auto;
}

.top-box{
    width: 357px;
}
.top-text{
    display: flexbox;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;

    align-items: center ;
}

.look-tag{
    width: 357px;

}