.best-items-section-container {
  margin-top: 94px;
}
.best-items-section-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray900);
}
.best-items-section-content {
  display: flex;
  align-items: center;
  gap: 24px;
}
