* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.all-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 1200px;
  padding: 0 20px;
}
.register {
  font-size: 28px;
  color: #1f2937;
}
.add-top {
  margin-top: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.add-button.disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
.add-button {
  background-color: #3692ff;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
}
.add-product {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1200px;
  margin-bottom: 24px;
}
.add-label {
  font-size: 18px;
  font-weight: 700;
  color: #1f2937;
  display: inline-block;
  height:auto;
}
.add-product-input {
  background-color: #f3f4f6;
  border-radius: 12px;
  border: none;
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 56px;
  padding: 16px 24px;
}
.add-product-input::placeholder {
  color: #9ca3af;
}
.introduction {
  height: 200px;
  resize: none;
}
.add-product-input.image {
  display: none;
}
.custom-file-upload {
  background-color: #f3f4f6;
  border-radius: 12px;
  border: none;
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
  width: 282px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button:hover {
  cursor: pointer;
}
.upload-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.upload-text {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}
.img-delete {
  width: 282px;
  height: 282px;
  position: relative;
}
.img-delete-button {
  background: none;
  border: none;
  position: absolute;
  top: 8px;
  left: 250px;
  cursor: pointer;
}
.add-img {
  display: flex;
  gap: 24px;
}
.img-delete-button-img {
  display: block;
}
.current-Image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}
.tag-container-value {
  background-color: #f9fafb;
  border-radius: 26px;
  padding: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  display: inline-flex;
  margin-right: 12px;
}
.delete-tag {
  border: none;
  background: none;
  width: 22px;
  height: 24px;
  margin-left: 8px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .wrapper{
    width:375px;
    padding: 0 10px;
  }
  .add-label{
    font-size:14px;
  }
  .custom-file-upload, .current-Image,.img-delete {
    width: 168px;
    height:168px;
  }
  .img-delete-button{
    left:134px;
  }
  .register{
    font-size:20px;
  }
  .add-img{
    gap:8px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .wrapper{
    width:768px;
  }
  .custom-file-upload, .current-Image, .img-delete{
    width:162px;
    height:162px;
  }
  .img-delete-button{
    left:130px;
  }
  .add-img{
    gap:16px;
  }
}