@import url('globals.css');
@import url('button.css');

a {
  text-decoration-line: none;
}

.mobile {
  display: none;
}
  
.tablet {
  display: none;
}

.desktop {
  display: none;
}
