@import "../style/ColorList.css";

.AllItemLayer {
    width: 1200px;
}

.AllItemMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.AllItemMenu .AllItemTitle > a > button {
    display: none;
}

.ItemCustom {
    display: flex;
    align-items: center;
    gap: 12px;
}

.AddItemButton {
    border-radius: 8px;
    padding: 12px 23px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    color: white;
    background-color: var(--brand-blue);
}

.ItemList {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.AllItem > img {
    width: 221px;
    height: 221px;
    margin-bottom: 16px;
    border-radius: 16px;
}

.ItemHistory {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ItemHistory > p{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    color: var(--cool-Gray800);
}

.ItemHistory > h1{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.09px;
    color: var(--cool-Gray800);
}

.Itemfav {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
}
.Itemfav > img {
    width: 16px;
    height: 16px;
}

.Itemfav > p {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.32px;
    color: var(--cool-Gray600);
}

/* 테블릿버전 */
@media (768px < width < 1280px) {
    .AllItemLayer {
        width: 696px;
    }
}

/* 모바일버전 */
@media (400px < width < 768px) {
    .AllItemLayer {
        width: 344px;
    }

    .AllItem > img {
        width: 168px;
        height: 168px;
    }

    .ItemList {
        gap: 8px;
    }

    .AllItemTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .AllItemMenu {
        flex-direction: column;
        gap: 8px;
    }

    .AllItemMenu .AllItemTitle > h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .AllItemTitle > a {
        text-decoration: none;
    }
    
    .AllItemMenu .AllItemTitle > a > button {
        display: block;
    }

    .ItemCustom {
        column-gap: 8px;
    }

    .ItemCustom > a > button {
        display: none;
    }
}