.best-products-container {
  max-width: 1200px;
  padding: 24px 120px;
}

.best-products-group {
  display: flex;
  justify-content: space-between;
}
.best-product-title {
  height: 42px;
  display: block;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
}

.best-product {
  width: 262px;
}
.best-product-img {
  border-radius: 16px;
  width: 100%;
}

.item-title {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  text-align: left;
}

.price {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  text-align: left;
  margin-top: 6px;
}

.like {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 12px;
  color: #4b5563;
}
