* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

:root {
  --gray-900: #1b1d1f;
  --gray-800: #26282b;
  --gray-600: #454c53;
  --gray-500: #72787f;
  --gray-400: #9ea4a8;
  --gray-200: #e5e7eb;
  --gray-100: #e8ebed;
  --gray-50: #f7f7f8;

  --blue: #3692ff;
  --white: #ffffff;
}

body {
  font-family: 'Pretendard', sans-serif;
  margin-top: 70px;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.page-wrapper {
  width: 100%;
  padding: 0 360px;
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
}
