@import "./ColorList.css";

header {
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items:center;
}

.headerLogo {
    width: 153px;
    height: 51px;
    margin-right: 32px;
}

.menuList {
    background: none;
    border: 0;
    font-size: 18px;
    color: var(--cool-Gray600);
    font-weight: 700;
    line-height: 21.48px;
    width: 109px;
    height: 69px;
}

.loginButton {
    border-radius: 8px;
    padding: 12px 23px;
    font-weight: 600;
    background-color: var(--brand-blue);
    font-size: 16px;
    color: #ffffff;
}