.header {
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  height: 69px;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  margin: auto;
}

.login-btn {
  background-color: #3692ff;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 20px;
  border-radius: 8px;
  gap: 10px;
  border: none;
}

.logo-menutab {
  display: flex;
  align-items: center;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  /* display: inline-block; */
}

.logo-img {
  display: inline;
  width: 153px;
}

.menu {
  display: inline-block;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  text-align: center;
  color: #4b5563;
  margin: 16px;
}

.menu-active {
  color: #3692ff;
}
