.BestContainer {
  display: grid; /* flex 대신 grid를 사용합니다. */
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* 가로로 1열 배치 */
  gap: 16px; /* 요소들 사이의 간격을 설정합니다. (필요에 따라 조절 가능) */
}

.BestItems {
  display: flex;
  flex-direction: column;
}

.img {
  width: 282px;
  height: 282px;
  border-radius: 16.59px;
}
