.ForSaleContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* 각 요소의 최소 너비를 250px로 설정하고, 가능한 많은 요소를 한 줄에 배치 */
  grid-gap: 16px; /* 요소들 사이의 간격을 16px로 설정 */
}

.img {
  width: 221px;
  height: 221px;
}

.ForSaleItemCard {
  width: 221px;
  height: 301px;
}

/* Pagination */
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pageItem {
  margin: 0 5px;
}

.pageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 50%; /* 완전한 원형으로 만들기 위해 50%로 설정 */
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: all 0.3s ease; /* 부드러운 전환 효과 추가 */
}

.pageLink:hover {
  background-color: #f8f9fa;
}

.activeLink {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.disabledLink {
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
}
