.main_product_bestproduct {
  margin-top: 2.4rem;
}

.main_product_bestproduct_title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: var(--gray-900);
}

.main_best_product {
  display: flex;
  gap: 1rem;
}
