.fileInput_whole {
  display: flex;
  gap: 2.4rem;
}

.file_input_container {
  width: 28.2rem;
  height: 28.2rem;
  background-color: var(--gray-100);
  border-radius: 1.2rem;
}

.file_input_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.file_input_box > .addImage {
  margin-top: 1.2rem;
}

.preview_box {
  position: relative;
  display: none;
}

.preview_img {
  width: 28.2rem;
  height: 28.2rem;
  border-radius: 1.2rem;
}

.img_delete_button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  border: none;
  background-color: var(--login-normal-blue);
  color: var(--login-normal-font-color);
  border-radius: 50%;
  cursor: pointer;
}

.show {
  display: block;
}
