@import url("./globals.css");

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  height: 70px;

  padding: 0 16px;
  border-bottom: 1px solid #dfdfdf;

  box-sizing: border-box;
}

.Header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 81px;
  height: 40px;
}

.Header-logo > img:first-child {
  display: none;
}

.Header-logo > img:nth-child(2) {
  width: auto;
  height: auto;
}

@media (min-width: 768px) {
  .Header {
    gap: 20px;
    padding: 0 24px;
  }

  .Header-logo {
    width: 153px;
    height: 51px;
  }

  .Header-logo > img:first-child {
    display: block;
  }
}

@media (min-width: 1200px) {
  .Header {
    gap: 32px;
    padding: 0 200px;
  }

  .Header-logo {
    width: 153px;
    height: 51px;
  }

  .Header-logo > img:first-child {
    display: block;
  }
}

.Header-nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.Header-nav-bar > a {
}
