.nav {
  position: fixed;
  inset: 0;
}

#logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 32px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 109px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #111827;
}

