.navbar {
  height: 70px;
}

.navbar-logo {
  width: 51px;
}

.navbar-links {
  display: flex;
  gap: 32px;
  font-size: 18px;
  font-weight: 700;
}

.navbar-link:active {
  color: #3692ff;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
