.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;

  align-items: center;
  padding: 0 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 999;
}

.navbar-box {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.navbar-logo {
  margin-right: 16px;
}

.navbar ul {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.navbar ul li a {
  color: #4b5563;
}

.navbar ul li a:hover {
  color: #3692ff;
}

.button-login {
  margin-left: auto;
}

.button-login a {
  background-color: #3692ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 12px 23px;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

.active-link {
  color: #3692ff;
}
