label {
  display: block;
  margin: 2.4rem 0 1.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--gray-800);
}
.product_input,
.product_textarea {
  background-color: var(--gray-100);
  border: none;
  border-radius: 1.2rem;
  width: 100%;
  height: 5.6rem;
  padding-left: 2.4rem;
}

.product_input::placeholder,
.product_textarea::placeholder {
  color: var(--gray-400);
  font-size: 1.6rem;
  font-weight: 400;
}

.product_introduce {
  display: block;
}

.product_textarea {
  resize: none;
  padding-top: 1.6rem;
}
