@import url("../../../components/globals.css");

.ProductInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 1200px;
  margin: 0 auto;

  box-sizing: border-box;
}

.ProductInfo > img {
  width: 343px;
  height: 343px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.ProductInfo-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.ProductInfo-detail > *:last-child {
  align-self: flex-start;
}

.ProductInfo-title-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ProductInfo-title-area > h2 {
  color: var(--gray800);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2em;
}

.ProductInfo-title-area > p {
  color: var(--gray800);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2em;
}

.ProductInfo-explanation {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;

  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .ProductInfo {
    flex-direction: row;
    padding: 0;
  }

  .ProductInfo > img {
    width: 340px;
    height: 340px;
  }
}

@media (min-width: 1200px) {
  .ProductInfo {
    flex-direction: row;
    gap: 24px;

    width: 1200px;
    padding: 0;
  }

  .ProductInfo > img {
    width: 486px;
    height: 486px;
  }
}
