@import 'color.css';
button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
button:hover{
    cursor: pointer;
}


.btn {
    color: #ffffff;
    background-color: var(--main-color);
    font-weight: 600;
    color: white;
    border: none;
}

.btn:hover{
    background-color: #1967D6;
}

.btn:active{
    background-color: #1251AA;
}

.btn-large{
    padding: 16px 124px;
    border-radius: 40px;
    font-size: 20px;
    line-height: 24px;
}

.btn-small{
    border-radius: 8px;
    padding: 12px 20px;
    width: 128px;
    height: 48px;

    font-size: 16px;
    line-height: 19.09px;
}

.btn-login{
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
}

/* sprint2 - 인풋이 다 입력되기 전까지는 로그인 버튼에 cursor: pointer가 작동하지 않게 */
/* 인풋이 다 입력되고 나서 :hover와 :after가 작동하게끔.. */
/* sprint3 - disabled 속성일때! 로 변경 */
.btn-login:disabled{ 
    cursor: default;
    background-color: #9CA3AF;
}

@media (max-width: 767px){
    .btn-shop{
        height: 48px;
        width: 50%;
        font-size: 16px;
        padding: 16px 20px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}