.tablet {
  display: block;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 70px;
  padding: 0 24px;

  box-sizing: border-box;
}

.header-logo-box {
  width: 153px;
  height: 48px;
}

.header-logo-image {
  height: 100%;
}

.main-banner-top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 771px;
  padding: 84px 0;
  
  background-color: #CFE5FF;

  box-sizing: border-box;
  overflow: hidden;
}

.main-banner-top-text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  width: 100%;
  height: 140px;
  padding: 0 116px;

  box-sizing: border-box;
}

.main-banner-top-text {
  width: 100%;
  height: 56px;

  color: var(--gray700);

  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.4em;
}

.main-banner-top-image {
  height: 447px;
  padding: 103px 0 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  
  width: 100%;
  margin: 24px auto 80px;
  padding: 24px;

  box-sizing: border-box;
}

.main-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: 100%;
}

.main-contents:nth-child(even) > div {
  text-align: right;
}

.main-contents-image {
	display:block;
	width:100%;
	height:auto;
}

.main-contents-text-box {
  width: 100%;
  text-align: left;
}

.main-contents-text-tag {
  margin-bottom: 1.2rem;

  color: var(--blue);  

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4em;
}

.main-contents-text-title {   
  margin-bottom: 2rem;
  
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: 0.02em;

}

.main-contents-text-detail {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 0.08em;
}

.main-banner-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 201px 0 0;
  
  background-color: #CFE5FF;

  box-sizing: border-box;
  overflow: hidden;
}

.main-banner-bottom-text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  box-sizing: border-box;
}

.main-banner-bottom-text {
  width: 100%;
  height: 90px;
  padding: 0 0 74px;

  color: var(--gray700);

  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.4em;
}

.main-banner-bottom-image {
  height: 447px;
}

.footer-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 160px;
  padding: 32px 104px 64px;

  background-color: #111322;

  box-sizing: border-box;
}

.footer-copyright {
  color: #676767;
}

.footer-button-area {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-button-area > a {
  color: #CFCFCF;
}

.footer-icon-area {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
