:root {
  --color-primary: #3692ff;
  --color-primary-dark: #1967d6;
  --color-primary-darker: #1251aa;
  --color-secondary: #cfe5ff;
  --color-text-primary: #374151;
  --color-text-secondary: #9ca3af;
  --color-background-dark: #111827;
  --color-link: #e5e7eb;
  --color-button-vistied: #9ca3af;
  --color-white: #fff;
  --color-coolgray-900: #1b1d1f;
  --color-coolgray-800: #1f2937;
  --color-coolgray-600: #454c53;
  --color-coolgray-500: #72787f;
  --color-coolgray-400: #9ca3af;
  --color-coolgray-200: #e5e7eb;
  --color-coolgray-100: #f3f4f6;
  --color-coolgray-50: #f7f7f8;
  --color-brand-blue: #3182f6;
  --color-easylogin-skyblue: #e6f2ff;
  --color-error-red: #f74747;
}

* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  line-height: 100%;
}

@media (min-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 1199px) {
}
@media (min-width: 375px) and (max-width: 767px) {
}
