:root {
  /* bg-color */
  --bg-color-white: #ffffff;
  /* border-color */
  --border-color-gray: #dfdfdf;
  /* btn-color */
  --btn-color-default: #3692ff;
  --btn-color-hover: #1967d6;
  --btn-color-click: #1251aa;
  --btn-color-inactive: #9ca3af;
  /* text-color */
  --text-color-white: #ffffff;
  /* line-height */
  --line-height-small: 19.09px;
  /* font-family */
  --font-family-pretendard: Pretendard;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
