.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  position: sticky;
  top: 0;
  height: 70px;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-color-gray);
  background-color: var(--bg-color-white);
}

.nav-bar__menu-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
  font: 700 1rem / var(--line-height-small) var(--font-family-pretendard);
}

.menu-list__community {
  color: var(--text-color-cool-gray);
}

.menu-list__flee-market {
  color: var(--text-color-blue);
}
