.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  padding: 1.5rem;
}

.page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--border-light-gray);
  border-radius: 50%;
  background-color: var(--bg-color-white);
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-color-gray);
  cursor: pointer;
}

.page-button:hover,
.page-button__on {
  background-color: var(--bg-color-blue);
  color: var(--text-color-white);
}
