:root {
  --gray900: #1b1d1f;
  --gray800: #26282b;
  --gray700: #374151;
  --gray600: #454c53;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --white: #ffffff;
  --inputbackground: #f3f4f6;
  --blue: #3692ff;
  --red: #f74747;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Pretendard Variable", "sans-serif";
}

.login_top_logo {
  margin-top: 60px;
}

main {
  width: 640px;
}

.main_form {
  margin-top: 40px;
  margin-bottom: 418px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input_value {
  width: 100%;
  height: 56px;
  border: 0;
  border-radius: 12px;
  background-color: var(--inputbackground);
}

.input_value:focus {
  outline: 2px solid var(--blue);
}

.error_value {
  outline: 2px solid var(--red);
}

.error_message {
  font-size: 15px;
  font-weight: 600;
  line-height: 17.9px;
  color: var(--red);
}

.hide {
  display: none;
}

input {
  padding: 16px 24px;
}

.form_contents {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 16px;
  font-weight: 700;
}

.pass_position {
  position: relative;
}

.password_visibility {
  position: absolute;
  bottom: 16px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.btn_large {
  background-color: var(--gray400);
  color: var(--white);
  border: 0;
  border-radius: 40px;
  padding: 16px, 124px;
  gap: 10px;
  height: 56px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.btn_active {
  background-color: var(--blue);
}

.simple_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  border-radius: 8px;
  width: 100%;
  height: 74px;
  padding-left: 23px;
  padding-right: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.simple_sns {
  display: flex;
  gap: 16px;
  height: 44px;
}

.guide_text {
  text-align: center;
  margin: 0;
  font-size: 15px;
  line-height: 17.9px;
  font-weight: 500;
}

@media (min-width: 375px) and (max-width: 767px) {
  .login_top_logo {
    width: 198px;
    height: 66px;
  }

  main {
    margin: 0 16px;
    max-width: 400px;
  }

  .main_form {
    gap: 16px;
  }

  .form_contents {
    font-size: 14px;
    gap: 8px;
  }
}
