footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px;
  font-size: 16px;
}

.footer-menu {
  display: flex;
  gap: 30px;
}

.footer-menu a {
  color: #e5e7eb;
}

.sns {
  display: flex;
  gap: 12px;
}

.sns img {
  width: 20px;
}

@media (max-width: 1024px) {
  footer {
    padding: 32px 100px 108px 100px;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    gap: 10px;
  }
  

  .footer-menu {
    gap: 20px;
  }

  .copyright {
    order: 3;
  }
}
