@media (min-width: 1200px) {
  .items-nav {
    padding: 10px 200px 9px 200px;
  }
  .nav-logo {
    width: 153px;
    height: 51px;
  }
  .nav-container {
    gap: 32px;
  }
  .nav-link {
    width: 109px;
    font-size: 1.8rem;
    line-height: 2.148rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .items-nav {
    padding: 10px 34px 9px 24px;
  }
  .nav-logo {
    width: 153px;
    height: 51px;
  }
  .nav-container {
    gap: 20px;
  }
  .nav-link {
    width: 109px;
    font-size: 1.8rem;
    line-height: 2.148rem;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .items-nav {
    padding: 10px 16px 9px;
  }
  .nav-logo {
    width: 81px;
    height: 40px;
  }
  .nav-container {
    gap: 16px;
  }
  .nav-link-container {
    gap: 8px;
  }
  .nav-link {
    font-size: 1.6rem;
    line-height: 2.148rem;
  }
}

.items-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.nav-button {
  padding: 12px 23px;
  font-size: 1.6rem;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  font-weight: 700;
  text-align: center;
  color: var(--color-coolgray-600);
}

.nav-link.current-location {
  color: var(--color-brand-blue);
}
