.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
}

.container {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 39px;
}

@media (min-width: 1200px) {
    .header {
        padding: 0 200px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        padding-right: 34px;
        padding-left: 24px;
    }

    .container {
        column-gap: 20px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .header {
        padding: 0 16px;
    }

    .container {
        column-gap: 16px;
    }

    .wrapper {
        column-gap: 8px;
    }
}
