* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin-top: 70px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
}

.best.product-image {
  width: 282px;
  height: 282px;
}

.All.product-image {
  width: 221px;
  height: 221px;
}

.row-list {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.search {
  width: 325px;
  height: 42px;
  padding: 9px 20px 9px 16px;
  background-color: #f3f4f6;
  outline: 0;
  border-radius: 12px;
}

.all-products-Navbar {
  display: flex;
  justify-content: space-between;
  height: 42px;
  margin-bottom: 24px;
}

.all-products-Nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.drop-down {
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border-color: #e5e7eb;
  padding: 12px 20px 12px 20px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .best-items {
    display: flex;
    width: 696px;
  }
}
