.page-box {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 40px;
  border: 1px;
}

.button.left {
  background-image: url(./images/btn_left.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.button.one {
  background-image: url(./images/Page-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.button.two {
  background-image: url(./images/Page-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.button.three {
  background-image: url(./images/Page-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.button.four {
  background-image: url(./images/Page-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.button.five {
  background-image: url(./images/Page-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.button.right {
  background-image: url(./images/btn_right.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}
