@import "/src/styles/Color.css";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 200px;
  width: 100%;
  background-color: var(--white-color);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid;
  border-color: #dfdfdf;
}
