@import "/src/styles/Color.css";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Pretendard;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  color: #161346;
  margin-top: 70px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  color: var(--gray-600);
}
