@import '/src/styles/Color.css';

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Pretendard;
}
body {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  color: var(--gray-600);
  list-style: none;
}

main {
  width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
}

.products-list-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.row {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-products-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.products-col {
  width: 100%;
}

.best-products-col {
  display: flex;
  flex: 0 0 auto;
  width: 25%;
  padding: 0;
  max-width: 282px;
  justify-content: center;
}

.all-products-col {
  flex: 0 0 auto;
  width: 18%;
  padding: 0;
  max-width: 221px;
}

.best-products-list {
  margin-bottom: 40px;
}

.input--color {
  background-color: var(--gray-100);
  border: none;
  color: var(--gray-400);

  font-size: 16px;
  font-weight: 400;
}

.all-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.product-item {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 0 auto;
  display: inline-flex;
  white-space: nowrap;
}

.best-product-item > img {
  height: 282px;
}

.all-product-item > img {
  height: 221px;
}

.product-item > img {
  width: 100%;
}

.pagination {
  display: flex;
  gap: 4px;
}

.pagination-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 113px;
}

.product-image {
  border-radius: 16px;
}

ul.kebab-drowdown {
  position: absolute;
  top: 30px;
  right: 0;
}

.products-col:hover {
  cursor: pointer;
}

/* 패드 사이즈 */
@media (max-width: 1199px) {
  body {
    display: block;
  }
  .best-products-col {
    width: 40%;
    max-width: none;
    flex: 0 0 auto;
  }

  main {
    width: 696px;
  }

  .all-products-col {
    width: 31%;
  }

  .input-search {
    width: 242px;
  }
}
@media (max-width: 767px) {
  .best-products-col {
    width: 100%;
    max-width: none;
  }
  .best-products-col {
    width: 100%;
    max-width: 100%;
  }

  main {
    width: 344px;
  }

  .all-products-col {
    width: 48.8%;
  }

  .input-search {
    width: 250px;
  }
  .row {
    gap: 8px;
  }

  .all-product-item > img {
    height: 136px;
  }

  .all-products-header {
    flex-direction: column;
    gap: 8px;
  }
}
