.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.best{
  margin-top: 94px;
}
.best-container > h2 {
  color: #111827;
  font-size: 20px;
}
.productlist {
  display: flex;
  column-gap: 24px;
  justify-content: center;
}
.all-productlist{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}
.best-productlist{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.itemlist {
  display: flex;
  flex-direction: column;
  color: #1f2937;
}
.imgurl{
  border-radius: 18px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
}
.name {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 6px;
}
.price {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 6px;
}
.favoriteCount {
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
  text-align: left;
}
.like {
  display: flex;
  align-items: center;
  gap: 4px;
}
.heart {
  position: relative;
  top: 1px;
}
.search-input{
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
}
button {
  width: 150px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: #3692ff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.all-container-header{
  display: flex;
  gap:12px;
}
label{
  width: 325px;
  height: 42px;
  padding: 9px 20px;
  border-radius:12px;
  background-color: #F3F4F6;
  display: flex;
  align-items: center;
  gap:4px;
  color:#9CA3AF;
}
.link{
  color:#fff;
}
select{
  width:130px;
  height:42px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../src/images/arrow.svg'); 
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-left:20px;
}
.option-input{
  font-weight:400;
  font-size:16px;
  color:#1F2937;
}