.notFound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
  font-size: 13px;
  color: #2d74ff;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.errorTitle {
  font-size: 40px;
  font-weight: 900;
}

.errorMessage {
  color: #7788ad;
  text-align: center;
}

.homeBtn {
  width: 170.38px;
  height: 40px;
  background-color: #2d74ff;
  border-radius: 30px;
  font-weight: 500;
}
