.section-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  margin-top: 24px;
}
.boards-best-list {
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  margin-bottom: 40px;
}
.boards-best-list-h2,
.boards-list-h2 {
  font-size: 20px;
  line-height: 23.87px;
  color: #111827;
}
.list-wrapper-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.boardsBtn {
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  border: none;
  background-color: #3692ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  color: #ffffff;
}
.list-wrapper-input {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.search-wrapper {
  display: flex;
  gap: 9px;
  width: 1054px;
  height: 42px;
  border-radius: 12px;
  border: none;
  padding: 9px 20px 9px 16px;
  background-color: #f3f4f6;
}
.boards-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9ca3af;
  background-color: unset;
  border: none;
  width: 100%;
}
.line{
  margin-top:24px;
  width:100%;
  border:1px solid #E5E7EB;
}
