:root {
    --white: #ffffff;
    --black: #000000;

    --gray900: #111827;
    --gray800: #1F2937;
    --gray700: #374151;  
    --gray600: #4B5563;
    --gray500: #6B7280;
    --gray400: #9CA3AF;
    --gray200: #E5E7EB;
    --gray100: #F3F4F6;
    --gray50: #F9FAFB;
    
    --solid-gray: #dfdfdf;
   
    --blue: #3692FF;
    --error-red: #F74747;

    --hover-blue: #1967d6;
    --focus-blue: #1251aa;
    --hyperlink-blue: #3182F6;

    --disable-button-gray:#9CA3AF;
    --activate-button-blue: var(--blue);

    --fontsize-18: 1.125em;
    --fontsize-15: 0.9375em;
}