@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input::placeholder {
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
