:root {
  --main-color: #3692ff;
  --error-color: #f74747;
  --gray-900: #1b1d1f;
  --gray-800: #26282b;
  --gray-600: #454c53;
  --gray-500: #72787f;
  --gray-400: #9ea4a8;
  --gray-200: #e5e7eb;
  --gray-100: #e8e8ed;
  --gray-50: #f7f7f8;
  --cool-gray-50: #f9fafb;
  --cool-gray-100: #f3f4f6;
  --cool-gray-800: #1f2937;
}
