/* HomePage CSS */

/* Container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header-wrapper {
  width: 100vw;
  background-color: var(--white);
  position: fixed;
}
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 200px;
  max-width: 1920px;
}
.gnb-logo {
  display: block;
  width: 153px;
  height: 51px;
}
.gnb-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 48px;
  padding: 12px 20px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

/* Main */
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
/* banner */
.content-banner-wrapper{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 540px;
  background-color: #CFE5FF;
  overflow: hidden;
}
.content-banner{
  display: flex;
  align-items: center;
  width: 1200px;
}
.content-banner-desc{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-banner-text {
  width: 295px;
  color: var(--gray700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}
.content-banner-Btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 357px;
  height: 56px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
}
.content-banner-img{
  align-self: flex-end;
}

/* content */
.contents {
  display: flex;
  flex-direction: column;
  width: 1200px;
}
.content {
  display: flex;
  align-items: center;
  height: 720px;
  gap: 64px;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.content-img{
  width: 588px;
  height: 444px;
}
.content-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.content-text-label {
  font-size: 18px;
  font-weight: 700;
  color: var(--blue);
}
.content-text-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--gray700);
  line-height: 56px;
}
.content-text-desc {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray700);
  line-height: 28.8px;
}

/* Footer */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 32px 200px;
  height: 160px;
  background-color: var(--gray900);
  color: var(--white);
  max-width: 1920px;
}
.footer-copyright {
  font-size: 16px;
  color: var(--gray400);
}
.footer-link {
  display: flex;
  gap: 30px;
}
.footer-link a {
  font-size: 16px;
  color: var(--gray200);
}
.footer-sns {
  display: flex;
  gap: 12px;
}

/* Responsive Design: Media Queries */

/* Styles for Tablet */
@media (min-width: 768px) and (max-width: 1199px) {

  /* Header */
  .gnb {
    margin: 10px 24px;
  }

  /* Main */
  /* banner */
  .content-banner-wrapper{
    height: 771px;
  }
  .content-banner {
    margin-top: 84px;
    flex-direction: column;
    gap: 100px;
  }
  .content-banner-desc{
    align-items: center;
  }
  .content-banner-text{
    width: 100%;
    text-align: center;
  }
  .content-banner-img img{
    align-self: flex-end;
  }
  /* content */
  .contents {
    width: 100%;
    padding: 22px;
  }
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-row-reverse{
    align-items: flex-end;
    text-align: right;
  }
  .content-img{
    margin: 0 auto;
  }
  .content-text-title br{
    display: none;
  }
  .content-wrapper > .content-banner-wrapper:nth-child(1) br{
    display: none;
}

  /* Footer */
  .footer-wrapper{
    padding: 32px 80px;
  }
}

/* Styles for Mobile */
@media (min-width : 375px) and (max-width : 767px) {
  /* Header */
  .gnb {
    margin: 10px 16px;
  }
  /* Main */
  /* banner */
  .content-banner-wrapper{
    height: 100%;
  }
  .content-banner {
    margin-top: 48px;
    flex-direction: column;
    gap: 50px;
  }
  .content-banner-desc{
    align-items: center;
  }
  .content-banner-text{
    font-size: 32px;
    text-align: center;
  }
  .content-banner-img img{
    width: 100vw;
    align-self: flex-end;
  }
  

    /* content */
  .contents {
    width: 100%;
    padding: 16px;
  }
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-row-reverse{
    align-items: flex-end;
    text-align: right;
  }
  .content-img{
    width: 344px;
    height: 259px;
    margin: 0 auto;
  }
  .content-text-title br{
    display: none;
  }
  .content-text-label {
    font-size: 16px;
  }
  .content-text-title {
    font-size: 24px;
  }
  .content-text-desc {
    font-size: 16px;
  }
  .content-wrapper > .content-banner-wrapper:nth-child(1) br{
    display: none;
}

  /* Footer */
  .footer-wrapper{
    padding: 32px 16px;
  }
}