.banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

#hero {
  background-image: url("../images/hero-image.png");
}

#features {
  padding-bottom: 138px;
}

#bottomBanner {
  background-image: url("../images/bottom-banner-image.png");
}

#signinLinkButton {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14.5px 43px;
}

.banner .pill-button {
  margin-top: 32px;
}

.feature {
  padding: 138px 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.feature:nth-child(2) {
  text-align: right;
}

.feature-content {
  flex: 1;
}

.feature-tag {
  color: var(--blue);
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 12px;
}

.feature-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin-top: 24px;
}
/**태블릿**/
@media (min-width: 768px) and (max-width: 1199px){ 

  header { 
    padding: 0 24px;
  }

  .banner { 
    height: 771px;
    align-items: flex-start;
    background-size: 120%;
    background-position-x: 50%;
    padding-top: 84px;
  }

  div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #bottomBanner h1 { 
    text-align: center;
  }

  .wrapperh1 { 
    font-size: 40px;
    line-height: 56px;
    display: flex;
    white-space: pre;
  }
  
  #feature1 { 
    padding-bottom: 64px;
  }

  #feature2 { 
    padding-bottom: 64px;
    flex-direction: column-reverse;
  }


  .feature h1 { 
    display: flex;
    white-space: pre;
  }

  #features { 
    padding-top: 24px;
    padding-bottom: 80px;
  }

  .showimg { 
    width: 100%;
    padding: 0 24px;
  }

  div.feature { 
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .feature-content { 
    width: 100%;
    margin-top: 20px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  #feature-content2 { 
    text-align: right;
  }

  #feature-content2 h1 { 
    justify-content: right;
  }

  #bottomBanner { 
    height: 927px;
    padding-top: 201px;
    background-size: 110%;
    background-position-x: 50%;
  }

  #wrapperbottom { 
    margin-bottom: 201px;
  }

  footer{ 
    padding: 32px 104px 108px 104px;
  }

  .footerimg { 
    width: 20px;
    height: 20px;
  }
}
/**모바일**/
@media (min-width: 375px) and (max-width: 767px){ 
  header { 
    padding: 0 16px;
  }

  .banner { 
    align-items: flex-start;
    background-size: 120%;
    background-position-x: 50%;
    padding-top: 48px;
  }

  div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapperh1 { 
    text-align: center;
  }

  .pill-button { 
    width: 154px;
    height: 48px;
    font-size: 16px;
    padding: 16px 20px;
  }
  
  div.feature { 
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .showimg { 
    width: 100%;
    padding: 0 16px;
  }

  .feature-content { 
    width: 100%;
    margin-top: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  #features { 
    padding-top: 51px;
    padding-bottom: 64px;
  }

  .feature h1 { 
    display: flex;
    white-space: pre;
  }

  #feature1 { 
    padding-bottom: 64px;
  }

  #feature2 { 
    padding-bottom: 58px;
    flex-direction: column-reverse;
  }

  #feature-content2 { 
    text-align: right;
  }

  #feature-content2 h1 { 
    justify-content: right;
  }

  #bottomBanner { 
    padding-top: 121px;
    background-size: 110%;
    background-position-y: 110%;
  }

  #believe-panda { 
    text-align: center;
  }

  footer { 
    padding: 32px 32px 64px 32px;
  }

}