.main-banner{
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 6%;
}

.banner-img{
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 100px;
}

h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: var(--gray-700);
  z-index: 1;
}

.main-banner>.banner-button{
  background-color: var(--blue);
  padding: 16px 124px;
  border-radius: 999px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  white-space:nowrap;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.feature{
  display: flex;
  padding: 138px 0;
  justify-content: center;
  align-items: center;
  gap: 7%;
}

.feature>img{
  width: 40%;
}

.feature-contents{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#section-center{
  flex-direction: row-reverse;
  text-align: right;
}

.section-title{
  color: var(--blue);
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.detail-small{
  font-size: 24px;
  font-weight: 500;
}

.bottom-banner{
  background-color: #cfe5ff;
  position: relative;
}

footer{
  background-color: var(--gray-900);
  height: 160px;
}

footer>.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 100px 108px 100px;
  color: var(--gray-400);
  font-size: 16px;
}

footer>.footer-container>.footer-link{
  color: var(--gray-200);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
a:hover {
  color: var(--gray-200);
}
a:active {
  color: var(--gray-200);
}
a:visited{
  color: var(--gray-200);
}

.copyright-codeit{
  font-weight: 400;
}

.socialmedia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

/* Mobile: 375px 이상 ~ 767px 이하*/
@media (max-width : 767px) {
  footer>.footer-container{
    position: relative;
    padding: 32px 32px 64px;
  }
  .copyright-codeit{
    position: absolute;
    bottom: 0;
  }
}