:root {
  /* Gray scale */
  --gray-900: #1b1d1f;
  --gray-800: #26282b;
  --gray-600: #454c53;
  --gray-500: #72787f;
  --gray-400: #9ea4a8;
  --gray-200: #e5e7eb;
  --gray-100: #e8ebed;
  --gray-50: #f7f7f8;
  --blue: #3692ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  padding: 0 200px;
  border-bottom: 1px solid #dfdfdf;

}

.button {
  width: 128px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3692FF;
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  gap: 10px;
}

.button:hover {
  background-color: #1967d6;
}

#login-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  color: #FFFFFF;
}

.sky-box {
  background-color: #CFE5FF;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 60%;
}

#hero {
  background-image: url("../images/home/hero-image.png");
}
 


.wrap {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  gap: 32px;
}


.look-button {
  height : 56px;
  width: 355px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #3692FF;
  border-radius: 40px;
}

.look-button:hover {
  background-color: #1967d6;
}

.take-a-look {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600px;
  line-height: 24px;
}

#features {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.feature {
  display: flex;
  align-items: center;
  padding: 60px 0;
  gap: 64px;

}

.feature-right {
  text-align: right;
  display: flex;
  align-items: center;
  padding: 60px 0;
  gap: 64px;
  
}

.feature-title {
  flex-grow: 1;
}

.feature-blue-tag {
  color: #3692FF;
  font-weight: 1000;
  font-size: 18px;
  line-height: 25.2px;
  margin-bottom: 5px;

}

.feature-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.1em;
  margin-top: 15px;
}

#bottomBanner {
  background-image: url("../images/home/bottom-banner-image.png");
  margin-top: 200px;
}


footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
}


#footerMenu {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
}