.banner {
  background-color: #cfe5ff;
  display: flex;
  align-items: center;
  height: 540px;
}

#top {
  background-image: url('../assets/images/home/hero-image.png');
  background-size: cover;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

.banner-box {
  width: 400px;
  margin-left: 150px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  padding-top: 138px;
  display: flex;
  align-items: center;
}

.content:last-child {
  padding-bottom: 138px;
}

.content img {
  width: 588px;
  margin-right: 64px;
}

.content h2 {
  color: #3692ff;
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 700;
  margin-bottom: 12px;
}

.content-description {
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  color: #374151;
}

#right {
  text-align: right;
}

#right img {
  margin: 0 0 0 64px;
}

#right .content-box {
  margin-left: auto;
}

#bottom {
  background-image: url('../assets/images/home/bottom-banner-image.png');
  background-size: cover;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

@media (max-width: 1024px) {
  .banner {
    text-align: center;
  }

  .banner-box {
    width: 100%;
    margin-left: 0;
    margin-top: 85px;
    margin-bottom: auto;
  }

  .container {
    width: 100%;
    padding: 0 20px;
  }

  .content {
    flex-direction: column;
  }

  .content-box {
    margin-right: auto;
  }

  h1 br {
    display: none;
  }

  .content img {
    width: 100%;
    margin: 20px 0;
  }

  .content h2 {
    font-size: 16px;
  }

  .content-description {
    font-size: 20px;
  }

  #right {
    flex-direction: column-reverse;
  }

  #right img {
    margin: 20px 0;
  }

  #right .content-box {
    margin-left: auto;
    margin-right: 0;
  }

  #top,
  #bottom {
    background-position: bottom;
    background-size: 70%;
  }
}

@media (max-width: 768px) {
  h1 br {
    display: block;
  }

  #top,
  #bottom {
    background-size: 100%;
  }
}
