* {
  box-sizing: border-box;
}

/* ----- header 관련 요소 ----- */

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.img_logo {
  width: 150px;
  height: auto;
  grid-area: img;
}

.img_logo:hover {
  cursor: pointer;
}



/* ----- section.banner 관련 요소 ----- */
.banner-top-wrap,
.banner-bottom-wrap {
  width: 100%;
  height: 540px;
  background-color: #CFE5FF;
  display: flex;
  justify-content: center;
}

.banner-container:hover {
  cursor: default;
}

.banner-container:nth-child(odd) {
  align-items: center;
}

.banner-container h1 {
  text-align: center;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
}

.btn_items {
  font-weight: 600;
  border-radius: 40px;
}

/* ----- section.promotion 관련 요소들 ----- */
.promotion-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion-wrap:hover {
  cursor: default;
}

.promotion-container {
  display: flex;
  align-items: center;
}

.promotion-container:nth-child(odd) {
  justify-content: right;
}

.promotion-title span {
  font-weight: 700;
  line-height: 26px;
  color: #3692FF;
}

.promotion-title h1 {
  font-weight: 700;
  color: #374151;
}

.promotion-title p {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: #374151;
}


/* ----- Media Query ----- */
@media (min-width: 375px) {
  .banner-top-wrap {
    height: 646px;
  }

  .banner-bottom-wrap {
    height: 594px;
  }

  .banner-top-wrap br,
  .banner-bottom-wrap br {
    display: inline;
  }

  .banner-top-wrap img {
    width: 626px;
    height: 280px;
  }

  .banner-bottom-wrap img {
    width: 540px;
    height: 300px;
  }

  .banner-container {
    flex-direction: column;
  }

  .banner-container h1 {
    font-size: 32px;
    margin: 130px auto 24px;
  }

  .banner-title {
    margin-bottom: 52px;
  }

  .promotion-title h1 {
    font-size: 24px;
  }

  .btn_items {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    width: 154px;
    height: 48px;
  }

  .promotion-container {
    height: 420px;
    display: grid;
    grid-template-areas:
      'img'
      'title';
    margin: 24px auto 80px;
  }

  .promotion-title {
    grid-area: title;
    margin: 20px 16px;
  }

  .promotion-container:nth-child(even) .promotion-title {
    text-align: right;
  }

  .promotion-title span,
  .promotion-title p {
    font-size: 16px;
  }

  .promotion-container img {
    grid-area: img;
    width: 344px;
    height: 260px;
  }
}

@media (min-width: 768px) {
  .banner-top-wrap,
  .banner-bottom-wrap {
    height: 840px;
  }

  .banner-top-wrap img {
    margin-top: 76px;
    width: 996px;
    height: 447px;
  }

  .banner-bottom-wrap img {
    width: 996px;
    height: 540px;
    margin-top: 40px;
  }

  .banner-container h1 {
    font-size: 40px;
    margin: 180px auto 24px;
  }

  .banner-title {
    margin-bottom: 0;
  }

  .banner-container br,
  .promotion-title h1 br {
    display: none;
  }

  .promotion-title h1 {
    font-size: 32px;
    line-height: 26px;
  }

  .btn_items {
    font-size: 20px;
    width: 355px;
    height: 56px;
  }

  .promotion-container {
    height: 720px;
    display: grid;
    gap: 20px;
    margin: 24px auto 80px;
  }

  .promotion-title span,
  .promotion-title p {
    font-size: 18px;
  }

  .promotion-container img {
    grid-area: img;
    width: 696px;
    height: 524px;
  }

  .promotion-container:nth-child(even) .promotion-title {
    text-align: right;
  }

  .promotion-title {
    grid-area: title;
    margin: 20px 16px;
  }
}

/* Desktop */
@media (min-width: 1280px) {

  .banner-top-wrap,
  .banner-bottom-wrap {
    height: 540px;
  }

  .banner-top-wrap img {
    margin-top: 92px;
  }

  .banner-bottom-wrap img {
    margin-top: 0;
  }

  .banner-container,
  .promotion-container {
    display: flex;
    flex-direction: row;
  }

  .banner-container h1 {
    text-align: left;
    margin: 32px 0;
  }

  .banner-container br,
  .promotion-title h1 br {
    display: inline;
  }

  .promotion-title h1 {
    font-size: 40px;
    line-height: 56px;
  }

  /* 중간 프로모션 구간 */
  .promotion-container {
    gap: 60px;
  }

  .promotion-title p {
    font-size: 24px;
  }
}
