@import 'color.css';

.header {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.login__form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 40px;
}

.form__label {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.label__name {
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.48px;
    padding-bottom: 8px;
}

.label__wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    row-gap: 8px;
}

.label__input {
    font-size: 16px;
    line-height: 24px;
    color: var(--gray400);
    min-width: 640px;
    padding: 16px 50px 16px 24px;
    border-radius: 12px;
    border: none;
    background-color: var(--gray100);
}

.visibility-btn {
    position: absolute;
    top: 16px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url(../img/icon/btn__visibility-off.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.visibility-btn -show {
    background-image: url(../img/icon/btn__visibility-on.svg);
}

.error__message {
    padding-left: 16px;
    font-size: 15px;
    color: #f74747;
}

.label__input:focus-visible {
    outline: 3px solid #3692ff;
}

.submit-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    padding: 16px 124px;
    border-radius: 40px;
    border: none;
    background-color: var(--gray400);
    cursor: pointer;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #e6f2ff;
    border-radius: 8px;
}

.social__login {
    display: flex;
    column-gap: 16px;
}

.social__logo {
    display: block;
}

.member__check {
    text-align: center;
}

.check__link {
    text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        padding-top: 48px;
    }
}
@media (min-width: 375px) and (max-width: 767px) {
    .header {
        padding-top: 24px;
    }

    .header__logo {
        width: 198px;
        height: 66px;
    }

    .login__form {
        width: 100%;
        padding: 0 16px;
        row-gap: 16px;
        max-width: 400px;
    }

    .form__label {
        font-size: 14px;
        line-height: 16.71px;
    }

    .label__name {
        padding-bottom: 0;
    }

    .label__input {
        min-width: 100%;
    }

    .submit-btn {
        margin-bottom: 8px;
    }
}
