html {
  font-size: 10px;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root {
  --gray900: #1B1d1f;
  --gray800: #26282b;
  --gray600: #454c53;
  --gray500: #72787f;
  --gray400: #9ea4a8;
  --gray200: #e5e7eb;
  --gray100: #e8ebed;
  --gray50: #f7f7f8;
  --blue: #3692ff;
}

@media (min-width: 375px) {

  body {
    padding: 0 16px;
  }

  header > a > #titleLogo {
    width: 198px;
    height: 66px;
  }

  main {
    gap: 16px !important;
  }
  
  section {
    width: 100% !important;
  }

  section > h1 {
    font-size: 1.4rem;
    line-height: 1.671rem;
  }

}

header {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

#titleLogo {
  width: 396px;
  height: 132px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

section {
  display: flex;
  flex-direction: column;
  width: 640px;
  column-gap: 16px;
}

h1 {
  font-size: 18px;
  font-weight: 700;;
  color: var(--gray800);
}

input {
  height: 56px;
  border-radius: 12px;
  background-color: var(--gray100);
  border: 0; 
  padding-left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray800);
  outline-color: var(--blue);
  /* width: 100%; */
}

input::placeholder {
  color: var(--gray400);
}

input:focus {
  outline-color: var(--blue) ;
}

.inputPW {
  position: relative;

}

.inputPW > img {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 16px;
  right: 24px;
}

button {
  background-color: #9ca3af;
  width: 100%;
  height: 56px;
  padding: 16px 124px;
  gap: 10px;
  border-radius: 40px;
  border: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}

.socialLogin {
  display: flex;
  height: 74px;
  padding: 0 23px;
  align-items: center;
  justify-content: space-between;
  background-color: #e6f2ff;
  border-radius: 8px;
}

.socialLogo {
  display: flex;
  gap: 16px;
}

.socialLogo > a > img {
  width: 42px;
  height: 42px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
}

footer > p {
  color: var(--gray800);
}
