em {
    width: 72px;
    height: 25px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #3692ff;
    line-height: 25.2px;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 auto;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
}

.header__logo {
    display: block;
}

.header__login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 128px;
    height: 48px;
    background: #3692FF;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.header__login-btn:hover,
.top-banner__items-btn:hover {
    background: #1967d6;
}

.top-banner {
    display: flex;
    height: 540px;
    background-color: #cfe5ff;
    background-image: url(../img/home/hero-image.png);
    align-items: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.banner__container {
    width: 100%;
}

.top-banner__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
    width: 357px;
    height: 200px;
}

.top-banner__title {
    font-size: 40px;
    line-height: 140%;
    color: #374151;
}

.top-banner__items-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 357px;
    height: 56px;
    background: #3692ff;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #fff;
}

.content {
    background-color: #fff;
}

.content__container {
    margin: 0 auto;
    padding-bottom: 138px;
}

.content__wrapper {
    display: flex;
    align-items: center;
    padding: 138px 0;
    gap: 64px;
}

.content__wrapper.flex-end {
    justify-content: flex-end;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 303px;
    height: 231px;
    row-gap: 12px;
}

.content__wrapper.flex-end .feature {
    align-items: flex-end;
    text-align: right;
}

.feature__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.feature__title {
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #374151;
}

.feature__content {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.08em;
    color: #374151;
}

.bottom-banner {
    display: flex;
    height: 540px;
    background-color: #cfe5ff;
    background-image: url(../img/home/bottom-banner-image.png);
    align-items: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 701px bottom;
}

.bottom-banner__title {
    font-size: 40px;
    line-height: 140%;
    color: #374151;
}

.bottom-banner__image {
    height: 540px;
}

.footer {
    padding: 32px 200px 108px;
    background-color: #111827;
}

.footer__link {
    display: flex;
    justify-content: space-between;

}

.footer__policy {
    display: flex;
    gap: 30px;
}

.policy__links {
    color: #e5e7eb;
}

.footer__copyright {
    color: #9ca3af;
}

.footer__social {
    display: flex;
    gap: 12px;
}

.social__logo {
    display: block;
}


@media (min-width: 1200px) {
    .header {
        padding: 0 200px;
    }

    .top-banner,
    .bottom-banner {
        height: 540px;
        background-position: 701px bottom;
    }

    .banner__container {
        margin: 0 360px;
    }

    .top-banner__wrapper {}
}

@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        padding: 0 24px;
    }

    .top-banner,
    .bottom-banner {
        height: 771px;
        background-position: bottom;
    }

    .banner__container {
        margin: 0 116px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .header {
        padding: 0 16px;
    }

    .top-banner,
    .bottom-banner {
        min-width: 375px;
    }

    .banner__container {
        margin: 0 70px;
    }
} 