/* sign-in */
.signin-container {
  max-width: 640px;
  margin: 0 auto;
}
#singin-logo {
  width: 396px;
}

.logo-box {
  display: block;
  text-align: center;
  margin: 60px 0 40px 0;
}

#singin-logo {
  width: 153px;
}

.input-box {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.input-box label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

input {
  padding: 16px 24px;
  background-color: var(--gray-100);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.login-social {
  background-color: #e6f2ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 23px;
  margin: 24px 0;
}

.h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
  color: var(--gray-800);
}

.login-social-buttons {
  display: flex;
  gap: 16px;
}

.login-footer {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.login-footer a {
  color: var(--blue);
  text-decoration: underline;
}

.password-box {
  position: relative;
  display: flex;
  align-items: center;
}

.password-button {
  position: absolute;
  right: 24px;
  cursor: pointer;
  width: 24px;
}

input:focus {
  outline-color: var(--blue);
}
