html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* { 
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
}

header { 
  text-align: center;
}

.logo { 
  height: 132px;
}

.alogo { 
  margin-bottom: 40px;
}

main { 
  width: 640px;
  height: 664px;
  margin: 0 auto;
  gap: 24px;
}

form { 
  height: 524px;
  row-gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label { 
  width: 47px;
  height: 21px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  color: #1f2937;
}

input { 
  height: 56px;
  border-radius: 12px;
  gap: 10px;
  background-color: #f3f4f6;
  border: none;
  padding: 24px;
}

input:focus { 
  outline-color: #3692ff;
}

input::placeholder { 
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9ca3af;
}

.email { 
  height: 93px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.nickname { 
  height: 93px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.pw { 
  height: 93px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

input#password { 
  width: 100%;
}

input#pwcheck { 
  width: 100%;
}

.pweye { 
  position: relative;
}

.eyeclose { 
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

.checkpw { 
  height: 93px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

button { 
  width: 640px;
  height: 56px;
  border-radius: 40px;
  gap: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  background-color: #9ca3af;
  border: none;
}

.info { 
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #1f2937;
}

.ask { 
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  color: #1f2937;
}

.signup { 
  line-height: 17.9px;
  color: #3182f6;
}

.easy-login { 
  height: 74px;
  border-radius: 8px;
  background-color: #e6f2ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 23px;
  margin-top: 24px;
}

.site-logo { 
  display: flex;
  justify-content: space-between;
  height: 42px;
  gap: 16px;
}

.ask-login { 
  display: flex;
  justify-content: center;
  margin-top: 24px;
}