:root {
  /* Corlors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-white-sky: #cfe5ff;
  --color-light-sky: #e6f2ff;
  --color-blue: #3692ff;
  --color-light-blue: #3692ff;
  --color-normal-blue: #1967d6;
  --color-dark-blue: #1251aa;
  --color-gray900: #111827;
  --color-gray800: #1f2937;
  --color-gray700: #374151;
  --color-gray600: #4b5563;
  --color-gray500: #6b7280;
  --color-gray400: #9ca3af;
  --color-gray200: #e5e7eb;
  --color-gray100: #f3f4f6;
  --color-gray50: #f9fafb;
  --color-white: #ffffff;
}
