  .login-logo {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .email-password {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .input-system {
    position: relative;
  }
  .input-system label {
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
  }
  .input-system input {
    width: 100%;
    height: 56px;
    border-radius: 12px;
    background: #f3f4f6;
    font-size: 16px;
    color: #1f2937;
    border: 0;
    padding: 16px 24px;
  }
  input.input-error {
    border: 1px solid red;
  }
  .error-message-on {
    color: red;
    position: relative;
    top: 5px;
    left: 19px;
  }
  button {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
  .password-button, .password-confirm-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width:24px;
    height:24px;
    background: url('../images/hidden.png') no-repeat;
    background-size: 20px 20px;
  }
  .password-button.visible, .password-confirm-button.visible{
    background: url('../images/eye.png') no-repeat;
  }
  .login_submit, .signup_submit{
    padding: 16px 124px;
    border-radius: 40px;
    background: #9ca3af;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    cursor:not-allowed;
  }
  .login_submit.inactive, .signup_submit.inactive {
    background: #9ca3af;
    cursor:not-allowed;
  }
  .login_submit.active, .signup_submit.active{
    background-color: #3692FF;
    cursor: pointer;
  }
  .simple-login {
    background: #e6f2ff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 74px;
    padding: 16px 24px;
    margin-bottom: 20px;
  }
  .simple-login-text {
    font-size: 16px;
    color: #1f2937;
    font-weight: 600;
  }
  .login-icon-wrapper {
    display: flex;
    column-gap: 16px;
  }
  .auth-description {
    font-size: 15px;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-weight: 600;
  }
  .login-signup {
    color: #3182f6;
    font-size: 15px;
    text-decoration: underline;
  }
  @media (min-width:1200px){
    .login-container {
      max-width: 640px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    .login-container {
      padding: 0 50px;
    }
  }
  
  @media (min-width: 375px) and (max-width: 767px) {
    .login-container {
      max-width: 400px;
      padding: 0 16px;
    }
    .login-logo {
      margin-bottom: 20px;
    }
    .login-logo-img {
      width: 198px;
      height: 66px;
    }
  }